# 매체보고서

In [7]:
#pandas import 
#관례적인 import 형식 
#as : alias(별칭)
import pandas as pd

In [8]:
from pandas import read_csv

In [9]:
#현재 작업디렉토리
%pwd

'/Users/junghs'

In [10]:
#경로설정
directory=%pwd
pwd_n=directory+'/'+'캠페인보고서,--.csv'
pwd_d=directory+'/'+'추이보고서_---_20190301-20190318.csv'
pwd_f=directory+'/'+'제목-없음-Mar-1-2019-Mar-18-2019.csv'
pwd_g=directory+'/'+'일.csv'
pwd_report=directory+'/'+'리포트sample.xlsx'
pwd_keyword=directory+'/'+'실습예제_keyword.xlsx'
pwd_result=directory+'/'+'result.xlsx'

In [11]:
#파일경로 지정시 예제
pwd_n

'/Users/junghs/캠페인보고서,--.csv'

# > 네이버 매체보고서

In [12]:
#pd.read_csv
# - csv파일을 읽어올때 사용하는 함수

n_data=read_csv(pwd_n,engine='python',skiprows=[0],encoding='euc-kr')
# n_data=read_csv(pwd_n,engine='python',skiprows=[0],encoding='utf-8')

#engine = 파일경로 혹은 파일명에 영어 이외의 문자가 들어 있을 경우 사용하는 파라미터. 사용 시 encoding='python'으로 지정.
#skiprows = skip할 열 인덱스 지정
#encoding = 컴퓨터가 사람의 다양한 언어(영어,한글,한자,일본어 등)을 이해하는 방식, 플랫폼에 따라 csv보고서를 내보낼때 사용하는 encoding이 다름
#names = 데이터의 칼럼명을 임의로 지정

In [13]:
n_data

   캠페인유형           일별      노출수  클릭수 총비용(VAT포함,원)
0   파워링크  2019.03.01.  145,363   85      990,870
1   파워링크  2019.03.02.  104,564   82      897,401
2   파워링크  2019.03.03.  114,241   54      487,597
3   파워링크  2019.03.04.  110,487   75      697,412
4   파워링크  2019.03.05.  124,587   45      481,124
5   파워링크  2019.03.06.  112,115   84      745,142
6   파워링크  2019.03.07.  154,847  124    1,147,849
7   파워링크  2019.03.08.  142,845  134    1,154,874
8   파워링크  2019.03.09.  112,354   99    1,024,879
9   파워링크  2019.03.10.  129,487  124      954,874
10  파워링크  2019.03.11.  160,487  134    1,355,874
11  파워링크  2019.03.12.  172,983  148    1,323,070
12  파워링크  2019.03.13.  181,567  187    1,810,010
13  파워링크  2019.03.14.  171,002  154    1,248,742
14  파워링크  2019.03.15.  154,012  122    1,171,775
15  파워링크  2019.03.16.  146,627   91      848,741
16  파워링크  2019.03.17.  149,957  112      912,401
17  파워링크  2019.03.18.  160,984  180    1,581,877

In [14]:
#Series.str.replace
# - 시리즈의 각 자료에 문자열(str)의 replace함수를 적용하여 콤마(.)를 대시(-)로 바꿈
n_day=n_data['일별'].str.replace('.','-')
n_day

0     2019-03-01-
1     2019-03-02-
2     2019-03-03-
3     2019-03-04-
4     2019-03-05-
5     2019-03-06-
6     2019-03-07-
7     2019-03-08-
8     2019-03-09-
9     2019-03-10-
10    2019-03-11-
11    2019-03-12-
12    2019-03-13-
13    2019-03-14-
14    2019-03-15-
15    2019-03-16-
16    2019-03-17-
17    2019-03-18-
Name: 일별, dtype: object

In [15]:
#slicing
# - 시리즈의 각 자료에 문자열(str)의 슬라이싱을 적용하여 마지막 글자를 제외한 나머지 글자만 선택
n_day.str[:-1]

0     2019-03-01
1     2019-03-02
2     2019-03-03
3     2019-03-04
4     2019-03-05
5     2019-03-06
6     2019-03-07
7     2019-03-08
8     2019-03-09
9     2019-03-10
10    2019-03-11
11    2019-03-12
12    2019-03-13
13    2019-03-14
14    2019-03-15
15    2019-03-16
16    2019-03-17
17    2019-03-18
Name: 일별, dtype: object

In [16]:
n_data['일별']=n_day.str[:-1]

In [17]:
n_data

   캠페인유형          일별      노출수  클릭수 총비용(VAT포함,원)
0   파워링크  2019-03-01  145,363   85      990,870
1   파워링크  2019-03-02  104,564   82      897,401
2   파워링크  2019-03-03  114,241   54      487,597
3   파워링크  2019-03-04  110,487   75      697,412
4   파워링크  2019-03-05  124,587   45      481,124
5   파워링크  2019-03-06  112,115   84      745,142
6   파워링크  2019-03-07  154,847  124    1,147,849
7   파워링크  2019-03-08  142,845  134    1,154,874
8   파워링크  2019-03-09  112,354   99    1,024,879
9   파워링크  2019-03-10  129,487  124      954,874
10  파워링크  2019-03-11  160,487  134    1,355,874
11  파워링크  2019-03-12  172,983  148    1,323,070
12  파워링크  2019-03-13  181,567  187    1,810,010
13  파워링크  2019-03-14  171,002  154    1,248,742
14  파워링크  2019-03-15  154,012  122    1,171,775
15  파워링크  2019-03-16  146,627   91      848,741
16  파워링크  2019-03-17  149,957  112      912,401
17  파워링크  2019-03-18  160,984  180    1,581,877

In [18]:
#astype
#- 시리즈의 각 자료형에 인자로 전달받은 데이터 타입을 적용
if type(n_data['노출수'][0])==str:
    n_imp=n_data['노출수'].str.replace(',','')    
    n_data['노출수']=n_imp.astype(int)

In [19]:
n_data

   캠페인유형          일별     노출수  클릭수 총비용(VAT포함,원)
0   파워링크  2019-03-01  145363   85      990,870
1   파워링크  2019-03-02  104564   82      897,401
2   파워링크  2019-03-03  114241   54      487,597
3   파워링크  2019-03-04  110487   75      697,412
4   파워링크  2019-03-05  124587   45      481,124
5   파워링크  2019-03-06  112115   84      745,142
6   파워링크  2019-03-07  154847  124    1,147,849
7   파워링크  2019-03-08  142845  134    1,154,874
8   파워링크  2019-03-09  112354   99    1,024,879
9   파워링크  2019-03-10  129487  124      954,874
10  파워링크  2019-03-11  160487  134    1,355,874
11  파워링크  2019-03-12  172983  148    1,323,070
12  파워링크  2019-03-13  181567  187    1,810,010
13  파워링크  2019-03-14  171002  154    1,248,742
14  파워링크  2019-03-15  154012  122    1,171,775
15  파워링크  2019-03-16  146627   91      848,741
16  파워링크  2019-03-17  149957  112      912,401
17  파워링크  2019-03-18  160984  180    1,581,877

In [20]:
if type(n_data['클릭수'][0])==str:
    n_clk=n_data['클릭수'].str.replace(',','')
    n_data['클릭수']=n_clk

In [21]:
if type(n_data['총비용(VAT포함,원)'][0])==str:
    n_cost=n_data['총비용(VAT포함,원)'].str.replace(',','')    
    n_data['총비용(VAT포함,원)']=n_cost.astype(int)

In [22]:
#완성된 데이터
n_data

   캠페인유형          일별     노출수  클릭수  총비용(VAT포함,원)
0   파워링크  2019-03-01  145363   85        990870
1   파워링크  2019-03-02  104564   82        897401
2   파워링크  2019-03-03  114241   54        487597
3   파워링크  2019-03-04  110487   75        697412
4   파워링크  2019-03-05  124587   45        481124
5   파워링크  2019-03-06  112115   84        745142
6   파워링크  2019-03-07  154847  124       1147849
7   파워링크  2019-03-08  142845  134       1154874
8   파워링크  2019-03-09  112354   99       1024879
9   파워링크  2019-03-10  129487  124        954874
10  파워링크  2019-03-11  160487  134       1355874
11  파워링크  2019-03-12  172983  148       1323070
12  파워링크  2019-03-13  181567  187       1810010
13  파워링크  2019-03-14  171002  154       1248742
14  파워링크  2019-03-15  154012  122       1171775
15  파워링크  2019-03-16  146627   91        848741
16  파워링크  2019-03-17  149957  112        912401
17  파워링크  2019-03-18  160984  180       1581877

# > 다음

In [23]:
d_data=read_csv(pwd_d,engine='python',encoding='euc-kr')
# d_data=read_csv(pwd_d,engine='python',encoding='euc-kr')

In [24]:
d_data

,날짜,노출수,클릭수,클릭률,평균클릭비용,총비용,직접전환수,직접전환금액,간접전환수,간접전환금액,전환율
0,2019.03.01,7154,15,0.21%,410.27,6154,1,0,0,0,6.67%
1,2019.03.02,5124,9,0.18%,2053.11,18478,0,0,0,0,0.00%
2,2019.03.03,4481,10,0.22%,512.40,5124,0,0,0,0,0.00%
3,2019.03.04,6487,15,0.23%,2276.93,34154,0,0,0,0,0.00%
4,2019.03.05,4514,8,0.18%,1551.88,12415,0,0,0,0,0.00%
5,2019.03.06,7748,15,0.19%,1027.47,15412,0,0,0,0,0.00%
6,2019.03.07,7741,16,0.21%,702.56,11241,0,0,0,0,0.00%
7,2019.03.08,6521,13,0.20%,1785.38,23210,0,0,0,0,0.00%
8,2019.03.09,4450,9,0.20%,3935.33,35418,0,0,0,0,0.00%
9,2019.03.10,3312,7,0.21%,573.57,4015,0,0,0,0,0.00%
10,2019.03.11,4145,10,0.24%,3215.40,32154,0,0,0,0,0.00%
11,2019.03.12,4915,15,0.31%,947.67,14215,0,0,2,0,13.33%
12,2019.03.13,2148,4,0.19%,2810.25,11241,0,0,0,0,0.00%
13,2019.03.14,3315,7,0.21%,1792.14,12545,0,0,0,1,14.29%
14,2019.03.15,3845,13,0.34%,1419.31,18451,0,0,0,1,7.69%
15,2019.03.16,3487,11,0.32%,1408.00,15488,0,2,0,0,18.18%
16,2019.03.17,3548,10,0.28%,1204.10,12041,0,0,0,0,0.00%
17,2019.03.18,4475,12,0.27%,2367.92,28415,0,0,0,0,0.00%

In [25]:
d_day=n_data['일별'].str.replace('.','-')
d_day

0     2019-03-01
1     2019-03-02
2     2019-03-03
3     2019-03-04
4     2019-03-05
5     2019-03-06
6     2019-03-07
7     2019-03-08
8     2019-03-09
9     2019-03-10
10    2019-03-11
11    2019-03-12
12    2019-03-13
13    2019-03-14
14    2019-03-15
15    2019-03-16
16    2019-03-17
17    2019-03-18
Name: 일별, dtype: object

In [26]:
d_data['날짜']=d_day

In [27]:
d_data

,날짜,노출수,클릭수,클릭률,평균클릭비용,총비용,직접전환수,직접전환금액,간접전환수,간접전환금액,전환율
0,2019-03-01,7154,15,0.21%,410.27,6154,1,0,0,0,6.67%
1,2019-03-02,5124,9,0.18%,2053.11,18478,0,0,0,0,0.00%
2,2019-03-03,4481,10,0.22%,512.40,5124,0,0,0,0,0.00%
3,2019-03-04,6487,15,0.23%,2276.93,34154,0,0,0,0,0.00%
4,2019-03-05,4514,8,0.18%,1551.88,12415,0,0,0,0,0.00%
5,2019-03-06,7748,15,0.19%,1027.47,15412,0,0,0,0,0.00%
6,2019-03-07,7741,16,0.21%,702.56,11241,0,0,0,0,0.00%
7,2019-03-08,6521,13,0.20%,1785.38,23210,0,0,0,0,0.00%
8,2019-03-09,4450,9,0.20%,3935.33,35418,0,0,0,0,0.00%
9,2019-03-10,3312,7,0.21%,573.57,4015,0,0,0,0,0.00%
10,2019-03-11,4145,10,0.24%,3215.40,32154,0,0,0,0,0.00%
11,2019-03-12,4915,15,0.31%,947.67,14215,0,0,2,0,13.33%
12,2019-03-13,2148,4,0.19%,2810.25,11241,0,0,0,0,0.00%
13,2019-03-14,3315,7,0.21%,1792.14,12545,0,0,0,1,14.29%
14,2019-03-15,3845,13,0.34%,1419.31,18451,0,0,0,1,7.69%
15,2019-03-16,3487,11,0.32%,1408.00,15488,0,2,0,0,18.18%
16,2019-03-17,3548,10,0.28%,1204.10,12041,0,0,0,0,0.00%
17,2019-03-18,4475,12,0.27%,2367.92,28415,0,0,0,0,0.00%

# > 구글

In [28]:
g_data=read_csv(pwd_g,engine='python',skiprows=[0,1],encoding='euc-kr')
# g_data=read_csv(pwd_g,engine='python',skiprows=[0,1],encoding='utf-8')

In [29]:
import chardet
chardet.detect((g_data.columns[0]).encode())

{'encoding': 'utf-8', 'confidence': 0.505, 'language': ''}

In [30]:
g_data

             일   통화    노출수  클릭수          비용
0   2019-03-01  KRW  1,101   46   59,042.00
1   2019-03-02  KRW  1,320   54   50,201.00
2   2019-03-03  KRW    715   25   24,250.00
3   2019-03-04  KRW    611   21   27,814.00
4   2019-03-05  KRW    678   23   30,241.00
5   2019-03-06  KRW  1,060   42   42,878.00
6   2019-03-07  KRW  1,958   71   82,421.00
7   2019-03-08  KRW  1,739   75   84,115.00
8   2019-03-09  KRW  1,041   45   51,147.00
9   2019-03-10  KRW  1,187   37   44,621.00
10  2019-03-11  KRW  1,875   91  103,210.00
11  2019-03-12  KRW  1,842   71   90,104.00
12  2019-03-13  KRW  1,635   69   86,840.00
13  2019-03-14  KRW  1,648   60   69,689.00
14  2019-03-15  KRW  1,450   69   80,153.00
15  2019-03-16  KRW    908   34   45,435.00
16  2019-03-17  KRW  1,100   39   50,550.00
17  2019-03-18  KRW  2,013   75   93,587.00

In [31]:
g_data.columns

Index(['일', '통화', '노출수', '클릭수', '비용'], dtype='object')

In [32]:
if type(g_data['노출수'][0])==str:
    g_data['노출수']=g_data['노출수'].str.replace(',','')
    g_data['노출수']=g_data['노출수'].astype(int)

In [33]:
if type(g_data['비용'][0])==str:
    g_data['비용']=g_data['비용'].str.replace(',','')
    g_data['비용']=g_data['비용'].astype(float)

In [34]:
g_data

             일   통화   노출수  클릭수        비용
0   2019-03-01  KRW  1101   46   59042.0
1   2019-03-02  KRW  1320   54   50201.0
2   2019-03-03  KRW   715   25   24250.0
3   2019-03-04  KRW   611   21   27814.0
4   2019-03-05  KRW   678   23   30241.0
5   2019-03-06  KRW  1060   42   42878.0
6   2019-03-07  KRW  1958   71   82421.0
7   2019-03-08  KRW  1739   75   84115.0
8   2019-03-09  KRW  1041   45   51147.0
9   2019-03-10  KRW  1187   37   44621.0
10  2019-03-11  KRW  1875   91  103210.0
11  2019-03-12  KRW  1842   71   90104.0
12  2019-03-13  KRW  1635   69   86840.0
13  2019-03-14  KRW  1648   60   69689.0
14  2019-03-15  KRW  1450   69   80153.0
15  2019-03-16  KRW   908   34   45435.0
16  2019-03-17  KRW  1100   39   50550.0
17  2019-03-18  KRW  2013   75   93587.0

# > FaceBook

In [35]:
f_data=read_csv(pwd_f,engine='python',names=['일','노출','클릭(전체)','지출 금액','보고 시작','보고 종료'],skiprows=1)
# f_data=read_csv(pwd_f,engine='python',names=['일','노출','클릭(전체)','지출 금액','보고 시작','보고 종료'],skiprows=1,encoding='utf-8')

In [36]:
f_data

             일     노출  클릭(전체)   지출 금액       보고 시작       보고 종료
0   2019-03-01  30124     617  251478  2019-03-01  2019-03-01
1   2019-03-02  18954     314  194875  2019-03-02  2019-03-02
2   2019-03-09  21548     375  214152  2019-03-09  2019-03-09
3   2019-03-10  19487     342  184574  2019-03-10  2019-03-10
4   2019-03-11  15887     297  174859  2019-03-11  2019-03-11
5   2019-03-12  11248     255  128489  2019-03-12  2019-03-12
6   2019-03-13   7995     315  145487  2019-03-13  2019-03-13
7   2019-03-14   8474     332  184579  2019-03-14  2019-03-14
8   2019-03-15   7724     385  201847  2019-03-15  2019-03-15
9   2019-03-16   7914     401  221541  2019-03-16  2019-03-16
10  2019-03-17   5548     164  151241  2019-03-17  2019-03-17
11  2019-03-18   6915     141  132848  2019-03-18  2019-03-18

# 데이터프레임(매체별 보고서) 합치기
#### 1. 매체별 데이터프레임의 칼럼명 확인
#### 2. 매체별 데이터프레임에서 필요한 칼럼(노출수,클릭수,총비용)만 선택
#### 3. concat함수를 사용하여 매체별 데이터프레임을 결합

----------

In [37]:
n_data.columns

Index(['캠페인유형', '일별', '노출수', '클릭수', '총비용(VAT포함,원)'], dtype='object')

In [38]:
d_data.columns

Index(['날짜', '노출수', '클릭수', '클릭률', '평균클릭비용', '총비용', '직접전환수', '직접전환금액', '간접전환수',
       '간접전환금액', '전환율'],
      dtype='object')

In [39]:
g_data.columns

Index(['일', '통화', '노출수', '클릭수', '비용'], dtype='object')

In [40]:
f_data.columns

Index(['일', '노출', '클릭(전체)', '지출 금액', '보고 시작', '보고 종료'], dtype='object')

---------

In [41]:
#네이버 보고서
#여러 칼럼명을 리스트로 전달하여 여러 칼럼 선택
n_result=n_data[['일별','노출수','클릭수','총비용(VAT포함,원)']]
n_result

            일별     노출수  클릭수  총비용(VAT포함,원)
0   2019-03-01  145363   85        990870
1   2019-03-02  104564   82        897401
2   2019-03-03  114241   54        487597
3   2019-03-04  110487   75        697412
4   2019-03-05  124587   45        481124
5   2019-03-06  112115   84        745142
6   2019-03-07  154847  124       1147849
7   2019-03-08  142845  134       1154874
8   2019-03-09  112354   99       1024879
9   2019-03-10  129487  124        954874
10  2019-03-11  160487  134       1355874
11  2019-03-12  172983  148       1323070
12  2019-03-13  181567  187       1810010
13  2019-03-14  171002  154       1248742
14  2019-03-15  154012  122       1171775
15  2019-03-16  146627   91        848741
16  2019-03-17  149957  112        912401
17  2019-03-18  160984  180       1581877

In [42]:
#set_index
# - 함수의 인자로 입력된 칼럼을 기존의 인덱스 대신 새로운 인덱스로 할당
n_daily=n_result.set_index('일별')
n_daily

               노출수  클릭수  총비용(VAT포함,원)
일별
2019-03-01  145363   85        990870
2019-03-02  104564   82        897401
2019-03-03  114241   54        487597
2019-03-04  110487   75        697412
2019-03-05  124587   45        481124
2019-03-06  112115   84        745142
2019-03-07  154847  124       1147849
2019-03-08  142845  134       1154874
2019-03-09  112354   99       1024879
2019-03-10  129487  124        954874
2019-03-11  160487  134       1355874
2019-03-12  172983  148       1323070
2019-03-13  181567  187       1810010
2019-03-14  171002  154       1248742
2019-03-15  154012  122       1171775
2019-03-16  146627   91        848741
2019-03-17  149957  112        912401
2019-03-18  160984  180       1581877

In [43]:
#다음 보고서
d_result=d_data[['날짜','노출수','클릭수','총비용']]
d_result

            날짜   노출수  클릭수    총비용
0   2019-03-01  7154   15   6154
1   2019-03-02  5124    9  18478
2   2019-03-03  4481   10   5124
3   2019-03-04  6487   15  34154
4   2019-03-05  4514    8  12415
5   2019-03-06  7748   15  15412
6   2019-03-07  7741   16  11241
7   2019-03-08  6521   13  23210
8   2019-03-09  4450    9  35418
9   2019-03-10  3312    7   4015
10  2019-03-11  4145   10  32154
11  2019-03-12  4915   15  14215
12  2019-03-13  2148    4  11241
13  2019-03-14  3315    7  12545
14  2019-03-15  3845   13  18451
15  2019-03-16  3487   11  15488
16  2019-03-17  3548   10  12041
17  2019-03-18  4475   12  28415

In [44]:
d_daily=d_result.set_index('날짜')
d_daily

             노출수  클릭수    총비용
날짜
2019-03-01  7154   15   6154
2019-03-02  5124    9  18478
2019-03-03  4481   10   5124
2019-03-04  6487   15  34154
2019-03-05  4514    8  12415
2019-03-06  7748   15  15412
2019-03-07  7741   16  11241
2019-03-08  6521   13  23210
2019-03-09  4450    9  35418
2019-03-10  3312    7   4015
2019-03-11  4145   10  32154
2019-03-12  4915   15  14215
2019-03-13  2148    4  11241
2019-03-14  3315    7  12545
2019-03-15  3845   13  18451
2019-03-16  3487   11  15488
2019-03-17  3548   10  12041
2019-03-18  4475   12  28415

In [45]:
#구글 보고서
g_result=g_data[['일','노출수','클릭수','비용']]
g_result

             일   노출수  클릭수        비용
0   2019-03-01  1101   46   59042.0
1   2019-03-02  1320   54   50201.0
2   2019-03-03   715   25   24250.0
3   2019-03-04   611   21   27814.0
4   2019-03-05   678   23   30241.0
5   2019-03-06  1060   42   42878.0
6   2019-03-07  1958   71   82421.0
7   2019-03-08  1739   75   84115.0
8   2019-03-09  1041   45   51147.0
9   2019-03-10  1187   37   44621.0
10  2019-03-11  1875   91  103210.0
11  2019-03-12  1842   71   90104.0
12  2019-03-13  1635   69   86840.0
13  2019-03-14  1648   60   69689.0
14  2019-03-15  1450   69   80153.0
15  2019-03-16   908   34   45435.0
16  2019-03-17  1100   39   50550.0
17  2019-03-18  2013   75   93587.0

In [46]:
g_daily=g_result.set_index('일')
g_daily

             노출수  클릭수        비용
일
2019-03-01  1101   46   59042.0
2019-03-02  1320   54   50201.0
2019-03-03   715   25   24250.0
2019-03-04   611   21   27814.0
2019-03-05   678   23   30241.0
2019-03-06  1060   42   42878.0
2019-03-07  1958   71   82421.0
2019-03-08  1739   75   84115.0
2019-03-09  1041   45   51147.0
2019-03-10  1187   37   44621.0
2019-03-11  1875   91  103210.0
2019-03-12  1842   71   90104.0
2019-03-13  1635   69   86840.0
2019-03-14  1648   60   69689.0
2019-03-15  1450   69   80153.0
2019-03-16   908   34   45435.0
2019-03-17  1100   39   50550.0
2019-03-18  2013   75   93587.0

In [47]:
#페이스북 보고서
f_result=f_data[['일','노출','클릭(전체)','지출 금액']]
f_result

             일     노출  클릭(전체)   지출 금액
0   2019-03-01  30124     617  251478
1   2019-03-02  18954     314  194875
2   2019-03-09  21548     375  214152
3   2019-03-10  19487     342  184574
4   2019-03-11  15887     297  174859
5   2019-03-12  11248     255  128489
6   2019-03-13   7995     315  145487
7   2019-03-14   8474     332  184579
8   2019-03-15   7724     385  201847
9   2019-03-16   7914     401  221541
10  2019-03-17   5548     164  151241
11  2019-03-18   6915     141  132848

In [48]:
f_daily=f_result.set_index('일')
f_daily

               노출  클릭(전체)   지출 금액
일
2019-03-01  30124     617  251478
2019-03-02  18954     314  194875
2019-03-09  21548     375  214152
2019-03-10  19487     342  184574
2019-03-11  15887     297  174859
2019-03-12  11248     255  128489
2019-03-13   7995     315  145487
2019-03-14   8474     332  184579
2019-03-15   7724     385  201847
2019-03-16   7914     401  221541
2019-03-17   5548     164  151241
2019-03-18   6915     141  132848

-------------

In [49]:
#concat
#- [n_daily,d_daily,g_daily,f_daily] : 매체별 모든 데이터를 concat의 파라미터로 입력
#- axis=1 : 칼럼단위로 데이터프레임을 결합
#- sort=False : 인덱스와 로우 중, 결합되지 않은 축(여기서는 로우)을 순서대로 정렬할 것인지 여부 
from pandas import concat
data=concat([n_daily,d_daily,g_daily,f_daily],axis=1,sort=False)
data

,노출수,클릭수,"총비용(VAT포함,원)",노출수,클릭수,총비용,노출수,클릭수,비용,노출,클릭(전체),지출 금액
2019-03-01,145363,85,990870,7154,15,6154,1101,46,59042.0,30124.0,617.0,251478.0
2019-03-02,104564,82,897401,5124,9,18478,1320,54,50201.0,18954.0,314.0,194875.0
2019-03-03,114241,54,487597,4481,10,5124,715,25,24250.0,NaN,NaN,NaN
2019-03-04,110487,75,697412,6487,15,34154,611,21,27814.0,NaN,NaN,NaN
2019-03-05,124587,45,481124,4514,8,12415,678,23,30241.0,NaN,NaN,NaN
2019-03-06,112115,84,745142,7748,15,15412,1060,42,42878.0,NaN,NaN,NaN
2019-03-07,154847,124,1147849,7741,16,11241,1958,71,82421.0,NaN,NaN,NaN
2019-03-08,142845,134,1154874,6521,13,23210,1739,75,84115.0,NaN,NaN,NaN
2019-03-09,112354,99,1024879,4450,9,35418,1041,45,51147.0,21548.0,375.0,214152.0
2019-03-10,129487,124,954874,3312,7,4015,1187,37,44621.0,19487.0,342.0,184574.0
2019-03-11,160487,134,1355874,4145,10,32154,1875,91,103210.0,15887.0,297.0,174859.0
2019-03-12,172983,148,1323070,4915,15,14215,1842,71,90104.0,11248.0,255.0,128489.0
2019-03-13,181567,187,1810010,2148,4,11241,1635,69,86840.0,7995.0,315.0,145487.0
2019-03-14,171002,154,1248742,3315,7,12545,1648,60,69689.0,8474.0,332.0,184579.0
2019-03-15,154012,122,1171775,3845,13,18451,1450,69,80153.0,7724.0,385.0,201847.0
2019-03-16,146627,91,848741,3487,11,15488,908,34,45435.0,7914.0,401.0,221541.0
2019-03-17,149957,112,912401,3548,10,12041,1100,39,50550.0,5548.0,164.0,151241.0
2019-03-18,160984,180,1581877,4475,12,28415,2013,75,93587.0,6915.0,141.0,132848.0

In [50]:
#fillna
#NaN(Not a Number)을 전달받은 인자로 대체
data_f=data.fillna(0)
data_f

,노출수,클릭수,"총비용(VAT포함,원)",노출수,클릭수,총비용,노출수,클릭수,비용,노출,클릭(전체),지출 금액
2019-03-01,145363,85,990870,7154,15,6154,1101,46,59042.0,30124.0,617.0,251478.0
2019-03-02,104564,82,897401,5124,9,18478,1320,54,50201.0,18954.0,314.0,194875.0
2019-03-03,114241,54,487597,4481,10,5124,715,25,24250.0,0.0,0.0,0.0
2019-03-04,110487,75,697412,6487,15,34154,611,21,27814.0,0.0,0.0,0.0
2019-03-05,124587,45,481124,4514,8,12415,678,23,30241.0,0.0,0.0,0.0
2019-03-06,112115,84,745142,7748,15,15412,1060,42,42878.0,0.0,0.0,0.0
2019-03-07,154847,124,1147849,7741,16,11241,1958,71,82421.0,0.0,0.0,0.0
2019-03-08,142845,134,1154874,6521,13,23210,1739,75,84115.0,0.0,0.0,0.0
2019-03-09,112354,99,1024879,4450,9,35418,1041,45,51147.0,21548.0,375.0,214152.0
2019-03-10,129487,124,954874,3312,7,4015,1187,37,44621.0,19487.0,342.0,184574.0
2019-03-11,160487,134,1355874,4145,10,32154,1875,91,103210.0,15887.0,297.0,174859.0
2019-03-12,172983,148,1323070,4915,15,14215,1842,71,90104.0,11248.0,255.0,128489.0
2019-03-13,181567,187,1810010,2148,4,11241,1635,69,86840.0,7995.0,315.0,145487.0
2019-03-14,171002,154,1248742,3315,7,12545,1648,60,69689.0,8474.0,332.0,184579.0
2019-03-15,154012,122,1171775,3845,13,18451,1450,69,80153.0,7724.0,385.0,201847.0
2019-03-16,146627,91,848741,3487,11,15488,908,34,45435.0,7914.0,401.0,221541.0
2019-03-17,149957,112,912401,3548,10,12041,1100,39,50550.0,5548.0,164.0,151241.0
2019-03-18,160984,180,1581877,4475,12,28415,2013,75,93587.0,6915.0,141.0,132848.0

# if문

In [51]:
uniformcolor='white'

In [52]:
if uniformcolor=='white':
    print('tottenum')
else : 
    print('ManU')

tottenum

In [53]:
feel='cutie'

In [54]:
if feel=='cutie':
    print('트와이스 - yes or yes')
elif feel=='sexy':
    print('블랙핑크 - 뚜두뚜두')
else : 
    print('씨스타 - Shake it')

트와이스 - yes or yes

# for문

In [55]:
우리반성적=[90,80,70,99,60,46,88,100]

In [56]:
#하나씩 수동으로 '합격,불합격'을 출력한다.
if 우리반성적[0]>=80:
    print('합격')
else : 
    print('불합격')

합격

In [57]:
for 점수 in 우리반성적 : 
    
    if 점수>=80:
        print('합격')
    else : 
        print('불합격')

합격
합격
불합격
합격
불합격
불합격
합격
합격

# for문 - 구구단

In [58]:
#range
#-첫 번째 파라미터와 두 번째 파라미터에 각각 숫자를 입력하면, 첫 번째 숫자보다 크고 두 번째 숫자보다 미만인 값들을 반환한다.
for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

In [59]:
#구구단 2단
for x in range(1,10):
    print(2*x)

2
4
6
8
10
12
14
16
18

In [60]:
#구구단2단과 3단의 연속 출력
for x in range(2,4):
    for y in range(1,10):
        print(x*y)

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27

# openpyxl로 합친 데이터프레임을 기존 보고서형식의 엑셀파일에 저장

In [61]:
import openpyxl
from openpyxl import load_workbook

In [62]:
from openpyxl.worksheet import Worksheet
from openpyxl.reader.worksheet import WorkSheetParser
from openpyxl.worksheet.merge import MergeCells
from openpyxl.worksheet.cell_range import CellRange
from openpyxl.utils import range_boundaries

def patch_worksheet():
    """This monkeypatches Worksheet.merge_cells to remove cell deletion bug
    https://bitbucket.org/openpyxl/openpyxl/issues/365/styling-merged-cells-isnt-working
    """
    # apply patch 1

    def merge_cells(self, range_string=None, start_row=None, start_column=None, end_row=None, end_column=None):
        cr = CellRange(range_string=range_string, min_col=start_column, min_row=start_row,
                      max_col=end_column, max_row=end_row)
        self.merged_cells.add(cr.coord)
        # self._clean_merge_range(cr)

    Worksheet.merge_cells = merge_cells


    # apply patch 2

    def parse_merge(self, element):
        merged = MergeCells.from_tree(element)
        self.ws.merged_cells.ranges = merged.mergeCell
        # for cr in merged.mergeCell:
        #     self.ws._clean_merge_range(cr)

    WorkSheetParser.parse_merge = parse_merge
patch_worksheet()

# > 보고서 형식 가져오기

In [63]:
#openpyxl.load_workbook
# - 해당경로의 데이터를 가져온다.
wb =load_workbook(pwd_report)

In [64]:
#sheetnames
# - 가져온 파일의 시트 목록을 출력한다.
wb.sheetnames

['매체별리포트', '모니터링그룹', '고효율그룹']

In [65]:
# wb['시트명']
# - 인자로 전달받은 시트의 데이터를 가져온다.
ws=wb['매체별리포트']

In [66]:
#data_f의 칼럼갯수를 센다.
col_len=len(data_f.columns)
col_len

12

In [67]:
#data_f의 열갯수를 센다.
row_len=len(data_f)
row_len

18

In [68]:
#cell(row=4+x,column=3+y).value
# - 지정된 셀에 value를 입력한다.
for x in range(0,row_len):
    for y in range(0,col_len):
        ws.cell(row=4+x,column=3+y).value=data_f.iloc[x,y]
wb.save('result.xlsx')
wb.close()

In [69]:
#저장된 엑셀파일과 내용 확인
%pwd

'/Users/junghs'

# > 네이버 광고 최적화 및 리포팅

In [70]:
from pandas import read_excel
data=read_excel(pwd_keyword,skiprows=[1])
data

,광고그룹 ID,상태,광고그룹 이름,노출수,클릭수,평균클릭비용(VAT포함),총비용(VAT포함),클릭률(%)
0,grp-a001-01-00000001xxxxxxx,노출가능,필라테스(주요),4454,101,15054,1520409,2.27
1,grp-a001-01-00000015xxxxxxx,노출가능,헬스(주요),2971,12,4765,57178,0.41
2,grp-a001-01-00000003xxxxxxx,노출가능,단백질보충제(주요),2681,98,7626,747351,3.66
3,grp-a001-01-00000004xxxxxxx,노출가능,홈짐(주요),2405,50,14083,704154,2.08
4,grp-a001-01-00000006xxxxxxx,노출가능,한방(주요),1903,29,13175,382074,1.53
5,grp-a001-01-00000002xxxxxxx,노출가능,유기농(주요),1654,137,9256,1268113,8.34
6,grp-a001-01-00000009xxxxxxx,노출가능,단백질보충제(세부),1585,30,6500,194997,1.90
7,grp-a001-01-00000000xxxxxxx,노출가능,다이어트_도시락(주요),1495,104,33065,3438820,6.96
8,grp-a001-01-00000016xxxxxxx,노출가능,필라테스(세부),1141,6,4851,29106,0.53
9,grp-a001-01-00000007xxxxxxx,노출가능,다이어트_도시락(세부),1068,51,6433,328108,4.78
10,grp-a001-01-00000021xxxxxxx,노출가능,헬스(세부),1028,3,2409,7227,0.30
11,grp-a001-01-00000022xxxxxxx,노출가능,크로스핏(주요),1020,2,2723,5445,0.20
12,grp-a001-01-00000020xxxxxxx,노출가능,프로그램(주요),887,2,5852,11704,0.23
13,grp-a001-01-00000005xxxxxxx,노출가능,팔뚝살(주요),878,21,20646,433576,2.40
14,grp-a001-01-00000024xxxxxxx,노출가능,홈짐(세부),803,6,425,2552,0.75
15,grp-a001-01-00000008xxxxxxx,노출가능,단식(세부),675,41,7607,311883,6.08
16,grp-a001-01-00000014xxxxxxx,노출가능,크로스핏(세부),369,11,5522,60742,2.99
17,grp-a001-01-00000010xxxxxxx,노출가능,유기농(세부),308,14,11804,165253,4.55
18,grp-a001-01-00000013xxxxxxx,노출가능,요가(주요),262,11,6885,75735,4.20
19,grp-a001-01-00000012xxxxxxx,노출가능,단식(주요),232,7,13000,91003,3.02
20,grp-a001-01-00000011xxxxxxx,노출가능,한방(세부),225,13,8013,104170,5.78
21,grp-a001-01-00000018xxxxxxx,노출가능,팔뚝살(세부),204,3,6479,19437,1.48
22,grp-a001-01-00000017xxxxxxx,노출가능,요가(세부),202,3,6512,19536,1.49
23,grp-a001-01-00000026xxxxxxx,노출가능,임산부(주요),161,9,77,693,5.60
24,grp-a001-01-00000019xxxxxxx,노출가능,프로그램(세부),153,2,6721,13442,1.31
25,grp-a001-01-00000025xxxxxxx,노출가능,뱃살(주요),62,1,2266,2266,1.62
26,grp-a001-01-00000023xxxxxxx,노출가능,뱃살(세부),56,1,3388,3388,1.79
27,grp-a001-01-00000040xxxxxxx,노출가능,비만측정(주요),53,0,0,0,0.00
28,grp-a001-01-00000031xxxxxxx,노출가능,임산부(세부),39,0,0,0,0.00
29,grp-a001-01-00000029xxxxxxx,노출가능,주사(주요),39,1,77,77,2.57
30,grp-a001-01-00000028xxxxxxx,노출가능,비만측정(세부),25,1,385,385,4.00
31,grp-a001-01-00000027xxxxxxx,노출가능,부작용(주요),7,1,418,418,14.29
32,grp-a001-01-00000032xxxxxxx,노출가능,부작용(세부),3,0,0,0,0.00
33,grp-a001-01-00000030xxxxxxx,노출가능,주사(세부),2,0,0,0,0.00
34,grp-a001-01-00000034xxxxxxx,중지:그룹 OFF,제주,0,0,0,0,0.00
35,grp-a001-01-00000037xxxxxxx,중지:비즈채널 노출제한,전주,0,0,0,0,0.00
36,grp-a001-01-00000039xxxxxxx,중지:그룹 OFF,서울,0,0,0,0,0.00
37,grp-a001-01-00000036xxxxxxx,중지:그룹 OFF,부산,0,0,0,0,0.00
38,grp-a001-01-00000038xxxxxxx,중지:그룹 OFF,대구,0,0,0,0,0.00
39,grp-a001-01-00000035xxxxxxx,중지:그룹 OFF,대구,0,0,0,0,0.00
40,grp-a001-01-00000033xxxxxxx,중지:비즈채널 노출제한,강원,0,0,0,0,0.00

## 주요 모니터링 광고그룹 데이터 추출 및 새로운 시트에 저장
#### 주요 모니터링 광고그룹: 필라테스(주요),헬스(주요),다이어트_도시락(주요)

In [71]:
data[(data['광고그룹 이름']=='필라테스(주요)')|(data['광고그룹 이름']=='헬스(주요)')|(data['광고그룹 이름']=='다이어트_도시락(주요)')]

,광고그룹 ID,상태,광고그룹 이름,노출수,클릭수,평균클릭비용(VAT포함),총비용(VAT포함),클릭률(%)
0,grp-a001-01-00000001xxxxxxx,노출가능,필라테스(주요),4454,101,15054,1520409,2.27
1,grp-a001-01-00000015xxxxxxx,노출가능,헬스(주요),2971,12,4765,57178,0.41
7,grp-a001-01-00000000xxxxxxx,노출가능,다이어트_도시락(주요),1495,104,33065,3438820,6.96

In [72]:
mornitoring=data[(data['광고그룹 이름']=='필라테스(주요)')|(data['광고그룹 이름']=='헬스(주요)')|(data['광고그룹 이름']=='다이어트_도시락(주요)')]

# >> 매체보고서에 저장

In [73]:
wb =load_workbook(pwd_result)

In [74]:
ws=wb['모니터링그룹']

In [75]:
for x in range(0,len(mornitoring)):
    for y in range(2,8):
        ws.cell(row=3+x,column=0+y).value=mornitoring.iloc[x,y]
wb.save('result.xlsx')
wb.close()

## 고효율 광고그룹 데이터 추출 및 새로운 시트에 저장
#### 고효율 기준 : 노출수>100, 클릭수>20, CPC>15000, CTR>1

In [76]:
data[(data['노출수']>100)&(data['클릭수']>20)&(data['평균클릭비용(VAT포함)']<15000)&(data['클릭률(%)']>1.00)]

,광고그룹 ID,상태,광고그룹 이름,노출수,클릭수,평균클릭비용(VAT포함),총비용(VAT포함),클릭률(%)
2,grp-a001-01-00000003xxxxxxx,노출가능,단백질보충제(주요),2681,98,7626,747351,3.66
3,grp-a001-01-00000004xxxxxxx,노출가능,홈짐(주요),2405,50,14083,704154,2.08
4,grp-a001-01-00000006xxxxxxx,노출가능,한방(주요),1903,29,13175,382074,1.53
5,grp-a001-01-00000002xxxxxxx,노출가능,유기농(주요),1654,137,9256,1268113,8.34
6,grp-a001-01-00000009xxxxxxx,노출가능,단백질보충제(세부),1585,30,6500,194997,1.90
9,grp-a001-01-00000007xxxxxxx,노출가능,다이어트_도시락(세부),1068,51,6433,328108,4.78
15,grp-a001-01-00000008xxxxxxx,노출가능,단식(세부),675,41,7607,311883,6.08

In [77]:
highefficiency=data[(data['노출수']>100)&(data['클릭수']>20)&(data['평균클릭비용(VAT포함)']<15000)&(data['클릭률(%)']>1.00)]

In [78]:
#클릭률 기준 sorting
highefficiency=highefficiency.sort_values('클릭률(%)',ascending=False)

In [79]:
# reset_index(drop=True)
# - 인덱스를 재생성함. drop 파라메터에 True를 전달할 경우 기존 인덱스가 칼럼으로 추가되지 않고 제거된다.
highefficiency=highefficiency.reset_index(drop=True)
highefficiency=highefficiency.iloc[0:5]
highefficiency

,광고그룹 ID,상태,광고그룹 이름,노출수,클릭수,평균클릭비용(VAT포함),총비용(VAT포함),클릭률(%)
0,grp-a001-01-00000002xxxxxxx,노출가능,유기농(주요),1654,137,9256,1268113,8.34
1,grp-a001-01-00000008xxxxxxx,노출가능,단식(세부),675,41,7607,311883,6.08
2,grp-a001-01-00000007xxxxxxx,노출가능,다이어트_도시락(세부),1068,51,6433,328108,4.78
3,grp-a001-01-00000003xxxxxxx,노출가능,단백질보충제(주요),2681,98,7626,747351,3.66
4,grp-a001-01-00000004xxxxxxx,노출가능,홈짐(주요),2405,50,14083,704154,2.08

# >> 매체보고서에 저장

In [80]:
wb = load_workbook(pwd_result)
ws=wb['고효율그룹']
for x in range(0,len(highefficiency)):
    for y in range(2,8):
        ws.cell(row=3+x,column=0+y).value=highefficiency.iloc[x,y]
wb.save('result.xlsx')
wb.close()