# if문

In [1322]:
uniformcolor='white'

In [1323]:
if uniformcolor=='white':
    print('tottenum')
else : 
    print('ManU')

tottenum

In [1324]:
feel='cutie'

In [1325]:
if feel=='cutie':
    print('트와이스 - yes or yes')
elif feel=='sexy':
    print('블랙핑크 - 뚜두뚜두')
else : 
    print('씨스타 - Shake it')

트와이스 - yes or yes

# for문

In [1326]:
우리반성적=[90,80,70,99,60,46,88,100]

In [1327]:
#하나씩 수동으로 '합격,불합격'을 출력한다.
if 우리반성적[0]>=80:
    print('합격')
else : 
    print('불합격')

합격

In [1328]:
for 점수 in 우리반성적 : 
    if 점수>=80:
        print('합격')
    else : 
        print('불합격')

합격
합격
불합격
합격
불합격
불합격
합격
합격

In [1329]:
import pandas as pd

# 네이버

In [1330]:
#encoding이란?

In [1331]:
#pd.read_csv할때 조정해야하는 옵션들
#skiprows
#engine

In [1332]:
n_data=pd.read_csv('C:\\Users\\jungh\\Desktop\\데이터분석\\파이썬 강의\\강의data\\캠페인보고서,--.csv',engine='python',skiprows=1,encoding='utf-8')
n_data

   캠페인유형           일별      노출수  클릭수 총비용(VAT포함,원)
0   파워링크  2019.02.01.  145,263   94    1,036,420
1   파워링크  2019.02.02.  118,883   86      910,107
2   파워링크  2019.02.03.  116,481   51      398,322
3   파워링크  2019.02.04.  126,863   81      755,931
4   파워링크  2019.02.05.  136,380   54      491,942
5   파워링크  2019.02.06.  132,315   96      814,885
6   파워링크  2019.02.07.  174,939  141    1,279,146
7   파워링크  2019.02.08.  161,842  147    1,311,234
8   파워링크  2019.02.09.  132,350  118    1,236,994
9   파워링크  2019.02.10.  133,037  115    1,023,649
10  파워링크  2019.02.11.  163,438  137    1,170,620
11  파워링크  2019.02.12.  172,982  150    1,223,069
12  파워링크  2019.02.13.  171,567  193    1,737,010
13  파워링크  2019.02.14.  171,001  166    1,343,562
14  파워링크  2019.02.15.  154,012  122    1,171,775
15  파워링크  2019.02.16.  146,657   85      743,546
16  파워링크  2019.02.17.  142,419  113      933,471
17  파워링크  2019.02.18.  160,984  180    1,581,877
18  파워링크  2019.02.19.  167,008  175    1,352,175
19  파워링크  2019.02.20.  169,708  144    1,247,643

In [1333]:
n_day=n_data['일별'].str.replace('.','-')
n_day

0     2019-02-01-
1     2019-02-02-
2     2019-02-03-
3     2019-02-04-
4     2019-02-05-
5     2019-02-06-
6     2019-02-07-
7     2019-02-08-
8     2019-02-09-
9     2019-02-10-
10    2019-02-11-
11    2019-02-12-
12    2019-02-13-
13    2019-02-14-
14    2019-02-15-
15    2019-02-16-
16    2019-02-17-
17    2019-02-18-
18    2019-02-19-
19    2019-02-20-
Name: 일별, dtype: object

In [1334]:
n_day.str[:-1]

0     2019-02-01
1     2019-02-02
2     2019-02-03
3     2019-02-04
4     2019-02-05
5     2019-02-06
6     2019-02-07
7     2019-02-08
8     2019-02-09
9     2019-02-10
10    2019-02-11
11    2019-02-12
12    2019-02-13
13    2019-02-14
14    2019-02-15
15    2019-02-16
16    2019-02-17
17    2019-02-18
18    2019-02-19
19    2019-02-20
Name: 일별, dtype: object

In [1335]:
n_data['일별']=n_day.str[:-1]

In [1336]:
n_data

   캠페인유형          일별      노출수  클릭수 총비용(VAT포함,원)
0   파워링크  2019-02-01  145,263   94    1,036,420
1   파워링크  2019-02-02  118,883   86      910,107
2   파워링크  2019-02-03  116,481   51      398,322
3   파워링크  2019-02-04  126,863   81      755,931
4   파워링크  2019-02-05  136,380   54      491,942
5   파워링크  2019-02-06  132,315   96      814,885
6   파워링크  2019-02-07  174,939  141    1,279,146
7   파워링크  2019-02-08  161,842  147    1,311,234
8   파워링크  2019-02-09  132,350  118    1,236,994
9   파워링크  2019-02-10  133,037  115    1,023,649
10  파워링크  2019-02-11  163,438  137    1,170,620
11  파워링크  2019-02-12  172,982  150    1,223,069
12  파워링크  2019-02-13  171,567  193    1,737,010
13  파워링크  2019-02-14  171,001  166    1,343,562
14  파워링크  2019-02-15  154,012  122    1,171,775
15  파워링크  2019-02-16  146,657   85      743,546
16  파워링크  2019-02-17  142,419  113      933,471
17  파워링크  2019-02-18  160,984  180    1,581,877
18  파워링크  2019-02-19  167,008  175    1,352,175
19  파워링크  2019-02-20  169,708  144    1,247,643

In [1337]:
n_imp=n_data['노출수'].str.replace(',','')
n_imp

0     145263
1     118883
2     116481
3     126863
4     136380
5     132315
6     174939
7     161842
8     132350
9     133037
10    163438
11    172982
12    171567
13    171001
14    154012
15    146657
16    142419
17    160984
18    167008
19    169708
Name: 노출수, dtype: object

In [1338]:
n_imp.astype(int)

0     145263
1     118883
2     116481
3     126863
4     136380
5     132315
6     174939
7     161842
8     132350
9     133037
10    163438
11    172982
12    171567
13    171001
14    154012
15    146657
16    142419
17    160984
18    167008
19    169708
Name: 노출수, dtype: int32

In [1339]:
n_data['노출수']=n_imp.astype(int)

In [1340]:
n_data

   캠페인유형          일별     노출수  클릭수 총비용(VAT포함,원)
0   파워링크  2019-02-01  145263   94    1,036,420
1   파워링크  2019-02-02  118883   86      910,107
2   파워링크  2019-02-03  116481   51      398,322
3   파워링크  2019-02-04  126863   81      755,931
4   파워링크  2019-02-05  136380   54      491,942
5   파워링크  2019-02-06  132315   96      814,885
6   파워링크  2019-02-07  174939  141    1,279,146
7   파워링크  2019-02-08  161842  147    1,311,234
8   파워링크  2019-02-09  132350  118    1,236,994
9   파워링크  2019-02-10  133037  115    1,023,649
10  파워링크  2019-02-11  163438  137    1,170,620
11  파워링크  2019-02-12  172982  150    1,223,069
12  파워링크  2019-02-13  171567  193    1,737,010
13  파워링크  2019-02-14  171001  166    1,343,562
14  파워링크  2019-02-15  154012  122    1,171,775
15  파워링크  2019-02-16  146657   85      743,546
16  파워링크  2019-02-17  142419  113      933,471
17  파워링크  2019-02-18  160984  180    1,581,877
18  파워링크  2019-02-19  167008  175    1,352,175
19  파워링크  2019-02-20  169708  144    1,247,643

In [1341]:
n_cost=n_data['총비용(VAT포함,원)'].str.replace(',','')
n_cost

0     1036420
1      910107
2      398322
3      755931
4      491942
5      814885
6     1279146
7     1311234
8     1236994
9     1023649
10    1170620
11    1223069
12    1737010
13    1343562
14    1171775
15     743546
16     933471
17    1581877
18    1352175
19    1247643
Name: 총비용(VAT포함,원), dtype: object

In [1342]:
n_data['총비용(VAT포함,원)']=n_cost.astype(int)

In [1343]:
#완성된 데이터
n_data

   캠페인유형          일별     노출수  클릭수  총비용(VAT포함,원)
0   파워링크  2019-02-01  145263   94       1036420
1   파워링크  2019-02-02  118883   86        910107
2   파워링크  2019-02-03  116481   51        398322
3   파워링크  2019-02-04  126863   81        755931
4   파워링크  2019-02-05  136380   54        491942
5   파워링크  2019-02-06  132315   96        814885
6   파워링크  2019-02-07  174939  141       1279146
7   파워링크  2019-02-08  161842  147       1311234
8   파워링크  2019-02-09  132350  118       1236994
9   파워링크  2019-02-10  133037  115       1023649
10  파워링크  2019-02-11  163438  137       1170620
11  파워링크  2019-02-12  172982  150       1223069
12  파워링크  2019-02-13  171567  193       1737010
13  파워링크  2019-02-14  171001  166       1343562
14  파워링크  2019-02-15  154012  122       1171775
15  파워링크  2019-02-16  146657   85        743546
16  파워링크  2019-02-17  142419  113        933471
17  파워링크  2019-02-18  160984  180       1581877
18  파워링크  2019-02-19  167008  175       1352175
19  파워링크  2019-02-20  169708  144       1247643

# 다음

In [1344]:
d_data=pd.read_csv('C:\\Users\\jungh\\Desktop\\데이터분석\\파이썬 강의\\강의data\\추이보고서_---_20190201-20190220.csv',engine='python',encoding='euc-kr')

In [1345]:
d_data

,날짜,노출수,클릭수,클릭률,평균클릭비용,총비용,직접전환수,직접전환금액,간접전환수,간접전환금액,전환율
0,2019.02.01,6657,11,0.17%,464.00,5104.0,0,0,0,0,0.00%
1,2019.02.02,5061,12,0.24%,1453.83,17446.0,0,0,0,0,0.00%
2,2019.02.03,5481,14,0.26%,332.36,4653.0,0,0,0,0,0.00%
3,2019.02.04,6830,20,0.29%,1923.35,38467.0,1,0,0,0,5.00%
4,2019.02.05,6638,15,0.23%,679.07,10186.0,0,0,0,0,0.00%
5,2019.02.06,8749,18,0.21%,582.39,10483.0,0,0,0,0,0.00%
6,2019.02.07,9091,18,0.20%,692.39,12463.0,0,0,0,0,0.00%
7,2019.02.08,5557,13,0.23%,1628.85,21175.0,0,0,0,0,0.00%
8,2019.02.09,3259,8,0.25%,4752.00,38016.0,0,0,0,0,0.00%
9,2019.02.10,2857,5,0.18%,847.00,4235.0,0,0,0,0,0.00%
10,2019.02.11,4581,12,0.26%,2808.67,33704.0,0,0,0,0,0.00%
11,2019.02.12,4629,17,0.37%,1028.82,17490.0,2,0,0,0,11.76%
12,2019.02.13,4642,15,0.32%,3111.53,46673.0,0,0,2,0,13.33%
13,2019.02.14,4139,9,0.22%,2819.67,25377.0,0,0,1,0,11.11%
14,2019.02.15,3997,13,0.33%,819.08,10648.0,0,0,1,0,7.69%
15,2019.02.16,3001,10,0.33%,785.40,7854.0,1,0,0,0,10.00%
16,2019.02.17,3187,10,0.31%,1067.00,10670.0,0,0,0,0,0.00%
17,2019.02.18,4873,8,0.16%,3415.50,27324.0,0,0,1,0,12.50%
18,2019.02.19,4752,9,0.19%,2811.11,25300.0,0,0,0,0,0.00%
19,2019.02.20,4544,14,0.31%,1337.29,18722.0,2,0,0,0,14.29%

In [1346]:
d_day=n_data['일별'].str.replace('.','-')
d_day

0     2019-02-01
1     2019-02-02
2     2019-02-03
3     2019-02-04
4     2019-02-05
5     2019-02-06
6     2019-02-07
7     2019-02-08
8     2019-02-09
9     2019-02-10
10    2019-02-11
11    2019-02-12
12    2019-02-13
13    2019-02-14
14    2019-02-15
15    2019-02-16
16    2019-02-17
17    2019-02-18
18    2019-02-19
19    2019-02-20
Name: 일별, dtype: object

In [1347]:
d_data['날짜']=d_day

In [1348]:
d_data

,날짜,노출수,클릭수,클릭률,평균클릭비용,총비용,직접전환수,직접전환금액,간접전환수,간접전환금액,전환율
0,2019-02-01,6657,11,0.17%,464.00,5104.0,0,0,0,0,0.00%
1,2019-02-02,5061,12,0.24%,1453.83,17446.0,0,0,0,0,0.00%
2,2019-02-03,5481,14,0.26%,332.36,4653.0,0,0,0,0,0.00%
3,2019-02-04,6830,20,0.29%,1923.35,38467.0,1,0,0,0,5.00%
4,2019-02-05,6638,15,0.23%,679.07,10186.0,0,0,0,0,0.00%
5,2019-02-06,8749,18,0.21%,582.39,10483.0,0,0,0,0,0.00%
6,2019-02-07,9091,18,0.20%,692.39,12463.0,0,0,0,0,0.00%
7,2019-02-08,5557,13,0.23%,1628.85,21175.0,0,0,0,0,0.00%
8,2019-02-09,3259,8,0.25%,4752.00,38016.0,0,0,0,0,0.00%
9,2019-02-10,2857,5,0.18%,847.00,4235.0,0,0,0,0,0.00%
10,2019-02-11,4581,12,0.26%,2808.67,33704.0,0,0,0,0,0.00%
11,2019-02-12,4629,17,0.37%,1028.82,17490.0,2,0,0,0,11.76%
12,2019-02-13,4642,15,0.32%,3111.53,46673.0,0,0,2,0,13.33%
13,2019-02-14,4139,9,0.22%,2819.67,25377.0,0,0,1,0,11.11%
14,2019-02-15,3997,13,0.33%,819.08,10648.0,0,0,1,0,7.69%
15,2019-02-16,3001,10,0.33%,785.40,7854.0,1,0,0,0,10.00%
16,2019-02-17,3187,10,0.31%,1067.00,10670.0,0,0,0,0,0.00%
17,2019-02-18,4873,8,0.16%,3415.50,27324.0,0,0,1,0,12.50%
18,2019-02-19,4752,9,0.19%,2811.11,25300.0,0,0,0,0,0.00%
19,2019-02-20,4544,14,0.31%,1337.29,18722.0,2,0,0,0,14.29%

# 구글

In [1349]:
#구글 data =utf-8 형식
# g_data=pd.read_csv('C:\\Users\\jungh\\Desktop\\데이터분석\\파이썬 강의\\강의data\\Unsaved report.csv',engine='python',skiprows=[0,1],encoding='utf-8')
g_data=pd.read_csv('C:\\Users\\jungh\\Desktop\\데이터분석\\파이썬 강의\\강의data\\Unsaved report.csv',engine='python',encoding='utf-8',skiprows=[0,1])
g_data

             일   통화    노출수  클릭수         비용
0   2013-03-05  KRW      0    0       0.00
1   2013-03-06  KRW    966    3   1,744.00
2   2013-03-07  KRW  5,801   18  11,862.00
3   2013-03-08  KRW  5,351   12   7,396.00
4   2013-03-09  KRW  3,283    5   2,573.00
5   2013-03-10  KRW  3,323    7   3,493.00
6   2013-03-11  KRW  6,306   18   9,145.00
7   2013-03-12  KRW  8,594   20  10,077.00
8   2013-03-13  KRW  8,887   12   4,205.00
9   2013-03-14  KRW  8,410   16   7,161.00
10  2013-03-15  KRW  8,705   25  10,699.00
11  2013-03-16  KRW  5,635   12   4,480.00
12  2013-03-17  KRW  4,185    2   1,002.00
13  2013-03-18  KRW  7,810    9   5,511.00
14  2013-03-19  KRW  6,704   11   6,443.00
15  2013-03-20  KRW  5,801   15   7,703.00
16  2013-03-21  KRW  6,580   17   9,423.00
17  2013-03-22  KRW  9,612   16   9,829.00
18  2013-03-23  KRW  4,323   16   9,863.00
19  2013-03-24  KRW  3,751    7   3,677.00
20  2013-03-25  KRW  8,288   19  11,388.00
21  2013-03-26  KRW  7,904   29  15,092.00
22  2013-03-27  KRW  9,089   29  17,773.00
23  2013-03-28  KRW  8,807   24  12,822.00
24  2013-03-29  KRW  9,053   41  21,804.00
25  2013-03-30  KRW  8,913   21   9,865.00
26  2013-03-31  KRW  9,688   17   8,514.00

In [1350]:
g_data.columns

Index(['일', '통화', '노출수', '클릭수', '비용'], dtype='object')

In [1351]:
g_data['일']=pd.date_range(start='2019-02-01',end='2019-02-27',periods=27)
g_data['일']=g_data['일'].astype(str)

In [1352]:
if type(g_data['노출수'][0])==str:
    g_data['노출수']=g_data['노출수'].str.replace(',','')
    g_data['노출수']=g_data['노출수'].astype(int)

In [1353]:
if type(g_data['클릭수'][0])==str:
    g_data['클릭수']=g_data['클릭수'].str.replace(',','')
    g_data['클릭수']=g_data['클릭수'].astype(int)

In [1354]:
if type(g_data['비용'][0])==str:
    g_data['비용']=g_data['비용'].str.replace(',','')
    g_data['비용']=g_data['비용'].astype(float)

In [1355]:
g_data

             일   통화   노출수  클릭수       비용
0   2019-02-01  KRW     0    0      0.0
1   2019-02-02  KRW   966    3   1744.0
2   2019-02-03  KRW  5801   18  11862.0
3   2019-02-04  KRW  5351   12   7396.0
4   2019-02-05  KRW  3283    5   2573.0
5   2019-02-06  KRW  3323    7   3493.0
6   2019-02-07  KRW  6306   18   9145.0
7   2019-02-08  KRW  8594   20  10077.0
8   2019-02-09  KRW  8887   12   4205.0
9   2019-02-10  KRW  8410   16   7161.0
10  2019-02-11  KRW  8705   25  10699.0
11  2019-02-12  KRW  5635   12   4480.0
12  2019-02-13  KRW  4185    2   1002.0
13  2019-02-14  KRW  7810    9   5511.0
14  2019-02-15  KRW  6704   11   6443.0
15  2019-02-16  KRW  5801   15   7703.0
16  2019-02-17  KRW  6580   17   9423.0
17  2019-02-18  KRW  9612   16   9829.0
18  2019-02-19  KRW  4323   16   9863.0
19  2019-02-20  KRW  3751    7   3677.0
20  2019-02-21  KRW  8288   19  11388.0
21  2019-02-22  KRW  7904   29  15092.0
22  2019-02-23  KRW  9089   29  17773.0
23  2019-02-24  KRW  8807   24  12822.0
24  2019-02-25  KRW  9053   41  21804.0
25  2019-02-26  KRW  8913   21   9865.0
26  2019-02-27  KRW  9688   17   8514.0

# FaceBook

In [1356]:
f_data=pd.read_csv('C:\\Users\\jungh\\Desktop\\데이터분석\\파이썬 강의\\강의data\\제목-없음-Feb-1-2019-Feb-22-2019.csv',engine='python',encoding='utf-8',names=['일','노출','클릭(전체)','지출 금액','보고 시작','보고 종료'],skiprows=1)

In [1357]:
f_data

             일     노출  클릭(전체)   지출 금액       보고 시작       보고 종료
0   2019-02-01  14806     447  197253  2019-02-01  2019-02-01
1   2019-02-02   2146      60   25195  2019-02-02  2019-02-02
2   2019-02-09  12751     382  192057  2019-02-09  2019-02-09
3   2019-02-10  10665     362  161204  2019-02-10  2019-02-10
4   2019-02-11  10490     345  159854  2019-02-11  2019-02-11
5   2019-02-12   9813     292  154807  2019-02-12  2019-02-12
6   2019-02-13   8987     339  156757  2019-02-13  2019-02-13
7   2019-02-14   8914     255  157330  2019-02-14  2019-02-14
8   2019-02-15   8024     239  153748  2019-02-15  2019-02-15
9   2019-02-16   7486     130  141447  2019-02-16  2019-02-16
10  2019-02-17   8835     172  161083  2019-02-17  2019-02-17
11  2019-02-18   7610     171  148920  2019-02-18  2019-02-18
12  2019-02-19   7534     303  152863  2019-02-19  2019-02-19
13  2019-02-20   7436     226  155352  2019-02-20  2019-02-20
14  2019-02-21   7538     204  154180  2019-02-21  2019-02-21
15  2019-02-22    187       3    4368  2019-02-22  2019-02-22

# 합치기

In [1358]:
#먼저 칼럼 알아보기
n_data.columns

Index(['캠페인유형', '일별', '노출수', '클릭수', '총비용(VAT포함,원)'], dtype='object')

In [1359]:
d_data.columns

Index(['날짜', '노출수', '클릭수', '클릭률', '평균클릭비용', '총비용', '직접전환수', '직접전환금액', '간접전환수',
       '간접전환금액', '전환율'],
      dtype='object')

In [1360]:
g_data.columns

Index(['일', '통화', '노출수', '클릭수', '비용'], dtype='object')

In [1361]:
f_data.columns

Index(['일', '노출', '클릭(전체)', '지출 금액', '보고 시작', '보고 종료'], dtype='object')

In [1362]:
#네이버 합치기
n_result=n_data[['일별','노출수','클릭수','총비용(VAT포함,원)']]
n_result

            일별     노출수  클릭수  총비용(VAT포함,원)
0   2019-02-01  145263   94       1036420
1   2019-02-02  118883   86        910107
2   2019-02-03  116481   51        398322
3   2019-02-04  126863   81        755931
4   2019-02-05  136380   54        491942
5   2019-02-06  132315   96        814885
6   2019-02-07  174939  141       1279146
7   2019-02-08  161842  147       1311234
8   2019-02-09  132350  118       1236994
9   2019-02-10  133037  115       1023649
10  2019-02-11  163438  137       1170620
11  2019-02-12  172982  150       1223069
12  2019-02-13  171567  193       1737010
13  2019-02-14  171001  166       1343562
14  2019-02-15  154012  122       1171775
15  2019-02-16  146657   85        743546
16  2019-02-17  142419  113        933471
17  2019-02-18  160984  180       1581877
18  2019-02-19  167008  175       1352175
19  2019-02-20  169708  144       1247643

In [1363]:
n_daily=n_result.set_index('일별')
n_daily

               노출수  클릭수  총비용(VAT포함,원)
일별
2019-02-01  145263   94       1036420
2019-02-02  118883   86        910107
2019-02-03  116481   51        398322
2019-02-04  126863   81        755931
2019-02-05  136380   54        491942
2019-02-06  132315   96        814885
2019-02-07  174939  141       1279146
2019-02-08  161842  147       1311234
2019-02-09  132350  118       1236994
2019-02-10  133037  115       1023649
2019-02-11  163438  137       1170620
2019-02-12  172982  150       1223069
2019-02-13  171567  193       1737010
2019-02-14  171001  166       1343562
2019-02-15  154012  122       1171775
2019-02-16  146657   85        743546
2019-02-17  142419  113        933471
2019-02-18  160984  180       1581877
2019-02-19  167008  175       1352175
2019-02-20  169708  144       1247643

In [1364]:
#다음
d_result=d_data[['날짜','노출수','클릭수','총비용']]
d_result

            날짜   노출수  클릭수      총비용
0   2019-02-01  6657   11   5104.0
1   2019-02-02  5061   12  17446.0
2   2019-02-03  5481   14   4653.0
3   2019-02-04  6830   20  38467.0
4   2019-02-05  6638   15  10186.0
5   2019-02-06  8749   18  10483.0
6   2019-02-07  9091   18  12463.0
7   2019-02-08  5557   13  21175.0
8   2019-02-09  3259    8  38016.0
9   2019-02-10  2857    5   4235.0
10  2019-02-11  4581   12  33704.0
11  2019-02-12  4629   17  17490.0
12  2019-02-13  4642   15  46673.0
13  2019-02-14  4139    9  25377.0
14  2019-02-15  3997   13  10648.0
15  2019-02-16  3001   10   7854.0
16  2019-02-17  3187   10  10670.0
17  2019-02-18  4873    8  27324.0
18  2019-02-19  4752    9  25300.0
19  2019-02-20  4544   14  18722.0

In [1365]:
d_daily=d_result.set_index('날짜')
d_daily

             노출수  클릭수      총비용
날짜
2019-02-01  6657   11   5104.0
2019-02-02  5061   12  17446.0
2019-02-03  5481   14   4653.0
2019-02-04  6830   20  38467.0
2019-02-05  6638   15  10186.0
2019-02-06  8749   18  10483.0
2019-02-07  9091   18  12463.0
2019-02-08  5557   13  21175.0
2019-02-09  3259    8  38016.0
2019-02-10  2857    5   4235.0
2019-02-11  4581   12  33704.0
2019-02-12  4629   17  17490.0
2019-02-13  4642   15  46673.0
2019-02-14  4139    9  25377.0
2019-02-15  3997   13  10648.0
2019-02-16  3001   10   7854.0
2019-02-17  3187   10  10670.0
2019-02-18  4873    8  27324.0
2019-02-19  4752    9  25300.0
2019-02-20  4544   14  18722.0

In [1366]:
#구글
g_result=g_data[['일','노출수','클릭수','비용']]
g_result

             일   노출수  클릭수       비용
0   2019-02-01     0    0      0.0
1   2019-02-02   966    3   1744.0
2   2019-02-03  5801   18  11862.0
3   2019-02-04  5351   12   7396.0
4   2019-02-05  3283    5   2573.0
5   2019-02-06  3323    7   3493.0
6   2019-02-07  6306   18   9145.0
7   2019-02-08  8594   20  10077.0
8   2019-02-09  8887   12   4205.0
9   2019-02-10  8410   16   7161.0
10  2019-02-11  8705   25  10699.0
11  2019-02-12  5635   12   4480.0
12  2019-02-13  4185    2   1002.0
13  2019-02-14  7810    9   5511.0
14  2019-02-15  6704   11   6443.0
15  2019-02-16  5801   15   7703.0
16  2019-02-17  6580   17   9423.0
17  2019-02-18  9612   16   9829.0
18  2019-02-19  4323   16   9863.0
19  2019-02-20  3751    7   3677.0
20  2019-02-21  8288   19  11388.0
21  2019-02-22  7904   29  15092.0
22  2019-02-23  9089   29  17773.0
23  2019-02-24  8807   24  12822.0
24  2019-02-25  9053   41  21804.0
25  2019-02-26  8913   21   9865.0
26  2019-02-27  9688   17   8514.0

In [1367]:
g_daily=g_result.set_index('일')
g_daily

             노출수  클릭수       비용
일
2019-02-01     0    0      0.0
2019-02-02   966    3   1744.0
2019-02-03  5801   18  11862.0
2019-02-04  5351   12   7396.0
2019-02-05  3283    5   2573.0
2019-02-06  3323    7   3493.0
2019-02-07  6306   18   9145.0
2019-02-08  8594   20  10077.0
2019-02-09  8887   12   4205.0
2019-02-10  8410   16   7161.0
2019-02-11  8705   25  10699.0
2019-02-12  5635   12   4480.0
2019-02-13  4185    2   1002.0
2019-02-14  7810    9   5511.0
2019-02-15  6704   11   6443.0
2019-02-16  5801   15   7703.0
2019-02-17  6580   17   9423.0
2019-02-18  9612   16   9829.0
2019-02-19  4323   16   9863.0
2019-02-20  3751    7   3677.0
2019-02-21  8288   19  11388.0
2019-02-22  7904   29  15092.0
2019-02-23  9089   29  17773.0
2019-02-24  8807   24  12822.0
2019-02-25  9053   41  21804.0
2019-02-26  8913   21   9865.0
2019-02-27  9688   17   8514.0

In [1368]:
#페이스북
f_result=f_data[['일','노출','클릭(전체)','지출 금액']]
f_result

             일     노출  클릭(전체)   지출 금액
0   2019-02-01  14806     447  197253
1   2019-02-02   2146      60   25195
2   2019-02-09  12751     382  192057
3   2019-02-10  10665     362  161204
4   2019-02-11  10490     345  159854
5   2019-02-12   9813     292  154807
6   2019-02-13   8987     339  156757
7   2019-02-14   8914     255  157330
8   2019-02-15   8024     239  153748
9   2019-02-16   7486     130  141447
10  2019-02-17   8835     172  161083
11  2019-02-18   7610     171  148920
12  2019-02-19   7534     303  152863
13  2019-02-20   7436     226  155352
14  2019-02-21   7538     204  154180
15  2019-02-22    187       3    4368

In [1369]:
f_daily=f_result.set_index('일')
f_daily

               노출  클릭(전체)   지출 금액
일
2019-02-01  14806     447  197253
2019-02-02   2146      60   25195
2019-02-09  12751     382  192057
2019-02-10  10665     362  161204
2019-02-11  10490     345  159854
2019-02-12   9813     292  154807
2019-02-13   8987     339  156757
2019-02-14   8914     255  157330
2019-02-15   8024     239  153748
2019-02-16   7486     130  141447
2019-02-17   8835     172  161083
2019-02-18   7610     171  148920
2019-02-19   7534     303  152863
2019-02-20   7436     226  155352
2019-02-21   7538     204  154180
2019-02-22    187       3    4368

# 전체 보고서 합치기

In [1370]:
data=pd.concat([n_daily,d_daily,g_daily,f_daily],axis=1)
data

C:\Users\jungh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,노출수,클릭수,"총비용(VAT포함,원)",노출수,클릭수,총비용,노출수,클릭수,비용,노출,클릭(전체),지출 금액
2019-02-01,145263.0,94.0,1036420.0,6657.0,11.0,5104.0,0,0,0.0,14806.0,447.0,197253.0
2019-02-02,118883.0,86.0,910107.0,5061.0,12.0,17446.0,966,3,1744.0,2146.0,60.0,25195.0
2019-02-03,116481.0,51.0,398322.0,5481.0,14.0,4653.0,5801,18,11862.0,NaN,NaN,NaN
2019-02-04,126863.0,81.0,755931.0,6830.0,20.0,38467.0,5351,12,7396.0,NaN,NaN,NaN
2019-02-05,136380.0,54.0,491942.0,6638.0,15.0,10186.0,3283,5,2573.0,NaN,NaN,NaN
2019-02-06,132315.0,96.0,814885.0,8749.0,18.0,10483.0,3323,7,3493.0,NaN,NaN,NaN
2019-02-07,174939.0,141.0,1279146.0,9091.0,18.0,12463.0,6306,18,9145.0,NaN,NaN,NaN
2019-02-08,161842.0,147.0,1311234.0,5557.0,13.0,21175.0,8594,20,10077.0,NaN,NaN,NaN
2019-02-09,132350.0,118.0,1236994.0,3259.0,8.0,38016.0,8887,12,4205.0,12751.0,382.0,192057.0
2019-02-10,133037.0,115.0,1023649.0,2857.0,5.0,4235.0,8410,16,7161.0,10665.0,362.0,161204.0
2019-02-11,163438.0,137.0,1170620.0,4581.0,12.0,33704.0,8705,25,10699.0,10490.0,345.0,159854.0
2019-02-12,172982.0,150.0,1223069.0,4629.0,17.0,17490.0,5635,12,4480.0,9813.0,292.0,154807.0
2019-02-13,171567.0,193.0,1737010.0,4642.0,15.0,46673.0,4185,2,1002.0,8987.0,339.0,156757.0
2019-02-14,171001.0,166.0,1343562.0,4139.0,9.0,25377.0,7810,9,5511.0,8914.0,255.0,157330.0
2019-02-15,154012.0,122.0,1171775.0,3997.0,13.0,10648.0,6704,11,6443.0,8024.0,239.0,153748.0
2019-02-16,146657.0,85.0,743546.0,3001.0,10.0,7854.0,5801,15,7703.0,7486.0,130.0,141447.0
2019-02-17,142419.0,113.0,933471.0,3187.0,10.0,10670.0,6580,17,9423.0,8835.0,172.0,161083.0
2019-02-18,160984.0,180.0,1581877.0,4873.0,8.0,27324.0,9612,16,9829.0,7610.0,171.0,148920.0
2019-02-19,167008.0,175.0,1352175.0,4752.0,9.0,25300.0,4323,16,9863.0,7534.0,303.0,152863.0
2019-02-20,169708.0,144.0,1247643.0,4544.0,14.0,18722.0,3751,7,3677.0,7436.0,226.0,155352.0
2019-02-21,NaN,NaN,NaN,NaN,NaN,NaN,8288,19,11388.0,7538.0,204.0,154180.0
2019-02-22,NaN,NaN,NaN,NaN,NaN,NaN,7904,29,15092.0,187.0,3.0,4368.0
2019-02-23,NaN,NaN,NaN,NaN,NaN,NaN,9089,29,17773.0,NaN,NaN,NaN
2019-02-24,NaN,NaN,NaN,NaN,NaN,NaN,8807,24,12822.0,NaN,NaN,NaN
2019-02-25,NaN,NaN,NaN,NaN,NaN,NaN,9053,41,21804.0,NaN,NaN,NaN
2019-02-26,NaN,NaN,NaN,NaN,NaN,NaN,8913,21,9865.0,NaN,NaN,NaN
2019-02-27,NaN,NaN,NaN,NaN,NaN,NaN,9688,17,8514.0,NaN,NaN,NaN

In [1371]:
data_f=data.fillna(0)
data_f

,노출수,클릭수,"총비용(VAT포함,원)",노출수,클릭수,총비용,노출수,클릭수,비용,노출,클릭(전체),지출 금액
2019-02-01,145263.0,94.0,1036420.0,6657.0,11.0,5104.0,0,0,0.0,14806.0,447.0,197253.0
2019-02-02,118883.0,86.0,910107.0,5061.0,12.0,17446.0,966,3,1744.0,2146.0,60.0,25195.0
2019-02-03,116481.0,51.0,398322.0,5481.0,14.0,4653.0,5801,18,11862.0,0.0,0.0,0.0
2019-02-04,126863.0,81.0,755931.0,6830.0,20.0,38467.0,5351,12,7396.0,0.0,0.0,0.0
2019-02-05,136380.0,54.0,491942.0,6638.0,15.0,10186.0,3283,5,2573.0,0.0,0.0,0.0
2019-02-06,132315.0,96.0,814885.0,8749.0,18.0,10483.0,3323,7,3493.0,0.0,0.0,0.0
2019-02-07,174939.0,141.0,1279146.0,9091.0,18.0,12463.0,6306,18,9145.0,0.0,0.0,0.0
2019-02-08,161842.0,147.0,1311234.0,5557.0,13.0,21175.0,8594,20,10077.0,0.0,0.0,0.0
2019-02-09,132350.0,118.0,1236994.0,3259.0,8.0,38016.0,8887,12,4205.0,12751.0,382.0,192057.0
2019-02-10,133037.0,115.0,1023649.0,2857.0,5.0,4235.0,8410,16,7161.0,10665.0,362.0,161204.0
2019-02-11,163438.0,137.0,1170620.0,4581.0,12.0,33704.0,8705,25,10699.0,10490.0,345.0,159854.0
2019-02-12,172982.0,150.0,1223069.0,4629.0,17.0,17490.0,5635,12,4480.0,9813.0,292.0,154807.0
2019-02-13,171567.0,193.0,1737010.0,4642.0,15.0,46673.0,4185,2,1002.0,8987.0,339.0,156757.0
2019-02-14,171001.0,166.0,1343562.0,4139.0,9.0,25377.0,7810,9,5511.0,8914.0,255.0,157330.0
2019-02-15,154012.0,122.0,1171775.0,3997.0,13.0,10648.0,6704,11,6443.0,8024.0,239.0,153748.0
2019-02-16,146657.0,85.0,743546.0,3001.0,10.0,7854.0,5801,15,7703.0,7486.0,130.0,141447.0
2019-02-17,142419.0,113.0,933471.0,3187.0,10.0,10670.0,6580,17,9423.0,8835.0,172.0,161083.0
2019-02-18,160984.0,180.0,1581877.0,4873.0,8.0,27324.0,9612,16,9829.0,7610.0,171.0,148920.0
2019-02-19,167008.0,175.0,1352175.0,4752.0,9.0,25300.0,4323,16,9863.0,7534.0,303.0,152863.0
2019-02-20,169708.0,144.0,1247643.0,4544.0,14.0,18722.0,3751,7,3677.0,7436.0,226.0,155352.0
2019-02-21,0.0,0.0,0.0,0.0,0.0,0.0,8288,19,11388.0,7538.0,204.0,154180.0
2019-02-22,0.0,0.0,0.0,0.0,0.0,0.0,7904,29,15092.0,187.0,3.0,4368.0
2019-02-23,0.0,0.0,0.0,0.0,0.0,0.0,9089,29,17773.0,0.0,0.0,0.0
2019-02-24,0.0,0.0,0.0,0.0,0.0,0.0,8807,24,12822.0,0.0,0.0,0.0
2019-02-25,0.0,0.0,0.0,0.0,0.0,0.0,9053,41,21804.0,0.0,0.0,0.0
2019-02-26,0.0,0.0,0.0,0.0,0.0,0.0,8913,21,9865.0,0.0,0.0,0.0
2019-02-27,0.0,0.0,0.0,0.0,0.0,0.0,9688,17,8514.0,0.0,0.0,0.0

In [1372]:
import openpyxl

In [1373]:
from itertools import product
import types
import openpyxl
from openpyxl import worksheet
from openpyxl.utils import range_boundaries


def patch_worksheet():
    """This monkeypatches Worksheet.merge_cells to remove cell deletion bug
    https://bitbucket.org/openpyxl/openpyxl/issues/365/styling-merged-cells-isnt-working
    Thank you to Sergey Pikhovkin for the fix
    """

    def merge_cells(self, range_string=None, start_row=None, start_column=None, end_row=None, end_column=None):
        """ Set merge on a cell range.  Range is a cell range (e.g. A1:E1)
        This is monkeypatched to remove cell deletion bug
        https://bitbucket.org/openpyxl/openpyxl/issues/365/styling-merged-cells-isnt-working
        """
        if not range_string and not all((start_row, start_column, end_row, end_column)):
            msg = "You have to provide a value either for 'coordinate' or for\
            'start_row', 'start_column', 'end_row' *and* 'end_column'"
            raise ValueError(msg)
        elif not range_string:
            range_string = '%s%s:%s%s' % (get_column_letter(start_column),
                                          start_row,
                                          get_column_letter(end_column),
                                          end_row)
        elif ":" not in range_string:
            if COORD_RE.match(range_string):
                return  # Single cell, do nothing
            raise ValueError("Range must be a cell range (e.g. A1:E1)")
        else:
            range_string = range_string.replace('$', '')

        if range_string not in self._merged_cells:
            self._merged_cells.append(range_string)


        # The following is removed by this monkeypatch:

        # min_col, min_row, max_col, max_row = range_boundaries(range_string)
        # rows = range(min_row, max_row+1)
        # cols = range(min_col, max_col+1)
        # cells = product(rows, cols)

        # all but the top-left cell are removed
        #for c in islice(cells, 1, None):
            #if c in self._cells:
                #del self._cells[c]

    # Apply monkey patch
    worksheet.Worksheet.merge_cells = merge_cells
patch_worksheet()

In [1374]:
wb = openpyxl.load_workbook('C:\\Users\\jungh\\Desktop\\데이터분석\\파이썬 강의\\강의data\\리포트sample.xlsx')

In [1375]:
wb.get_sheet_names()

C:\Users\jungh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  """Entry point for launching an IPython kernel.

['매체별리포트', '모니터링그룹', '고효율그룹']

In [1376]:
ws=wb.get_sheet_by_name('매체별리포트')

C:\Users\jungh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  """Entry point for launching an IPython kernel.

In [1377]:
len(data_f.columns)

12

In [1378]:
len(data_f)

27

In [1379]:
for x in range(0,27):
    for y in range(0,12):
        ws.cell(row=4+x,column=3+y).value=data_f.iloc[x,y]
wb.save('result.xlsx')
wb.close()

# 필터링

In [1380]:
data=pd.read_excel('C:\\Users\\jungh\\Desktop\\데이터분석\\웰컴론\\data\\실습예제_keyword.xlsx',skiprows=[1])
data

,광고그룹 ID,상태,광고그룹 이름,노출수,클릭수,평균클릭비용(VAT포함),총비용(VAT포함),클릭률(%)
0,grp-a001-01-00000001xxxxxxx,노출가능,필라테스(주요),4454,101,15054,1520409,2.27
1,grp-a001-01-00000015xxxxxxx,노출가능,헬스(주요),2971,12,4765,57178,0.41
2,grp-a001-01-00000003xxxxxxx,노출가능,단백질보충제(주요),2681,98,7626,747351,3.66
3,grp-a001-01-00000004xxxxxxx,노출가능,홈짐(주요),2405,50,14083,704154,2.08
4,grp-a001-01-00000006xxxxxxx,노출가능,한방(주요),1903,29,13175,382074,1.53
5,grp-a001-01-00000002xxxxxxx,노출가능,유기농(주요),1654,137,9256,1268113,8.34
6,grp-a001-01-00000009xxxxxxx,노출가능,단백질보충제(세부),1585,30,6500,194997,1.90
7,grp-a001-01-00000000xxxxxxx,노출가능,다이어트_도시락(주요),1495,104,33065,3438820,6.96
8,grp-a001-01-00000016xxxxxxx,노출가능,필라테스(세부),1141,6,4851,29106,0.53
9,grp-a001-01-00000007xxxxxxx,노출가능,다이어트_도시락(세부),1068,51,6433,328108,4.78
10,grp-a001-01-00000021xxxxxxx,노출가능,헬스(세부),1028,3,2409,7227,0.30
11,grp-a001-01-00000022xxxxxxx,노출가능,크로스핏(주요),1020,2,2723,5445,0.20
12,grp-a001-01-00000020xxxxxxx,노출가능,프로그램(주요),887,2,5852,11704,0.23
13,grp-a001-01-00000005xxxxxxx,노출가능,팔뚝살(주요),878,21,20646,433576,2.40
14,grp-a001-01-00000024xxxxxxx,노출가능,홈짐(세부),803,6,425,2552,0.75
15,grp-a001-01-00000008xxxxxxx,노출가능,단식(세부),675,41,7607,311883,6.08
16,grp-a001-01-00000014xxxxxxx,노출가능,크로스핏(세부),369,11,5522,60742,2.99
17,grp-a001-01-00000010xxxxxxx,노출가능,유기농(세부),308,14,11804,165253,4.55
18,grp-a001-01-00000013xxxxxxx,노출가능,요가(주요),262,11,6885,75735,4.20
19,grp-a001-01-00000012xxxxxxx,노출가능,단식(주요),232,7,13000,91003,3.02
20,grp-a001-01-00000011xxxxxxx,노출가능,한방(세부),225,13,8013,104170,5.78
21,grp-a001-01-00000018xxxxxxx,노출가능,팔뚝살(세부),204,3,6479,19437,1.48
22,grp-a001-01-00000017xxxxxxx,노출가능,요가(세부),202,3,6512,19536,1.49
23,grp-a001-01-00000026xxxxxxx,노출가능,임산부(주요),161,9,77,693,5.60
24,grp-a001-01-00000019xxxxxxx,노출가능,프로그램(세부),153,2,6721,13442,1.31
25,grp-a001-01-00000025xxxxxxx,노출가능,뱃살(주요),62,1,2266,2266,1.62
26,grp-a001-01-00000023xxxxxxx,노출가능,뱃살(세부),56,1,3388,3388,1.79
27,grp-a001-01-00000040xxxxxxx,노출가능,비만측정(주요),53,0,0,0,0.00
28,grp-a001-01-00000031xxxxxxx,노출가능,임산부(세부),39,0,0,0,0.00
29,grp-a001-01-00000029xxxxxxx,노출가능,주사(주요),39,1,77,77,2.57
30,grp-a001-01-00000028xxxxxxx,노출가능,비만측정(세부),25,1,385,385,4.00
31,grp-a001-01-00000027xxxxxxx,노출가능,부작용(주요),7,1,418,418,14.29
32,grp-a001-01-00000032xxxxxxx,노출가능,부작용(세부),3,0,0,0,0.00
33,grp-a001-01-00000030xxxxxxx,노출가능,주사(세부),2,0,0,0,0.00
34,grp-a001-01-00000034xxxxxxx,중지:그룹 OFF,제주,0,0,0,0,0.00
35,grp-a001-01-00000037xxxxxxx,중지:비즈채널 노출제한,전주,0,0,0,0,0.00
36,grp-a001-01-00000039xxxxxxx,중지:그룹 OFF,서울,0,0,0,0,0.00
37,grp-a001-01-00000036xxxxxxx,중지:그룹 OFF,부산,0,0,0,0,0.00
38,grp-a001-01-00000038xxxxxxx,중지:그룹 OFF,대구,0,0,0,0,0.00
39,grp-a001-01-00000035xxxxxxx,중지:그룹 OFF,대구,0,0,0,0,0.00
40,grp-a001-01-00000033xxxxxxx,중지:비즈채널 노출제한,강원,0,0,0,0,0.00

In [1381]:
#주요 모니터링 광고그룹
#주요 : 필라테스(주요),헬스(주요),다이어트_도시락(주요)
data[(data['광고그룹 이름']=='필라테스(주요)')|(data['광고그룹 이름']=='헬스(주요)')|(data['광고그룹 이름']=='다이어트_도시락(주요)')]

,광고그룹 ID,상태,광고그룹 이름,노출수,클릭수,평균클릭비용(VAT포함),총비용(VAT포함),클릭률(%)
0,grp-a001-01-00000001xxxxxxx,노출가능,필라테스(주요),4454,101,15054,1520409,2.27
1,grp-a001-01-00000015xxxxxxx,노출가능,헬스(주요),2971,12,4765,57178,0.41
7,grp-a001-01-00000000xxxxxxx,노출가능,다이어트_도시락(주요),1495,104,33065,3438820,6.96

In [1382]:
mornitoring=data[(data['광고그룹 이름']=='필라테스(주요)')|(data['광고그룹 이름']=='헬스(주요)')|(data['광고그룹 이름']=='다이어트_도시락(주요)')]

In [1383]:
wb = openpyxl.load_workbook('C:\\Users\\jungh\\lecture\\result.xlsx')

In [1384]:
ws=wb.get_sheet_by_name('모니터링그룹')

C:\Users\jungh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  """Entry point for launching an IPython kernel.

In [1385]:
for x in range(0,len(mornitoring)):
    for y in range(2,8):
        ws.cell(row=3+x,column=0+y).value=mornitoring.iloc[x,y]
wb.save('result.xlsx')
wb.close()

In [1386]:
#고효율그룹
data[(data['노출수']>100)&(data['클릭수']>20)&(data['평균클릭비용(VAT포함)']<15000)&(data['클릭률(%)']>1.00)]

,광고그룹 ID,상태,광고그룹 이름,노출수,클릭수,평균클릭비용(VAT포함),총비용(VAT포함),클릭률(%)
2,grp-a001-01-00000003xxxxxxx,노출가능,단백질보충제(주요),2681,98,7626,747351,3.66
3,grp-a001-01-00000004xxxxxxx,노출가능,홈짐(주요),2405,50,14083,704154,2.08
4,grp-a001-01-00000006xxxxxxx,노출가능,한방(주요),1903,29,13175,382074,1.53
5,grp-a001-01-00000002xxxxxxx,노출가능,유기농(주요),1654,137,9256,1268113,8.34
6,grp-a001-01-00000009xxxxxxx,노출가능,단백질보충제(세부),1585,30,6500,194997,1.90
9,grp-a001-01-00000007xxxxxxx,노출가능,다이어트_도시락(세부),1068,51,6433,328108,4.78
15,grp-a001-01-00000008xxxxxxx,노출가능,단식(세부),675,41,7607,311883,6.08

In [1387]:
highefficiency=data[(data['노출수']>100)&(data['클릭수']>20)&(data['평균클릭비용(VAT포함)']<15000)&(data['클릭률(%)']>1.00)]

In [1388]:
#클릭률 기준 sorting
highefficiency=highefficiency.sort_values('클릭률(%)',ascending=False)

In [1389]:
#인덱스별로 재생성하고 5개 인덱스
highefficiency=highefficiency.reset_index(drop=True)
highefficiency=highefficiency.iloc[0:5]
highefficiency

,광고그룹 ID,상태,광고그룹 이름,노출수,클릭수,평균클릭비용(VAT포함),총비용(VAT포함),클릭률(%)
0,grp-a001-01-00000002xxxxxxx,노출가능,유기농(주요),1654,137,9256,1268113,8.34
1,grp-a001-01-00000008xxxxxxx,노출가능,단식(세부),675,41,7607,311883,6.08
2,grp-a001-01-00000007xxxxxxx,노출가능,다이어트_도시락(세부),1068,51,6433,328108,4.78
3,grp-a001-01-00000003xxxxxxx,노출가능,단백질보충제(주요),2681,98,7626,747351,3.66
4,grp-a001-01-00000004xxxxxxx,노출가능,홈짐(주요),2405,50,14083,704154,2.08

In [1390]:
wb = openpyxl.load_workbook('C:\\Users\\jungh\\lecture\\result.xlsx')
ws=wb.get_sheet_by_name('고효율그룹')
for x in range(0,len(highefficiency)):
    for y in range(2,8):
        ws.cell(row=3+x,column=0+y).value=highefficiency.iloc[x,y]
wb.save('result.xlsx')
wb.close()

C:\Users\jungh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).