In [42]:
import pandas as pd

# 네이버

In [43]:
#skiprows 필요없는 첫 번째 행 제거
#encoding?

n_data=pd.read_csv('C:\\Users\\jungh\\Desktop\\데이터분석\\파이썬 강의\\강의data\\캠페인보고서,--.csv',engine='python',skiprows=1,encoding='utf-8')
n_data

   캠페인유형           일별      노출수  클릭수 총비용(VAT포함,원)
0   파워링크  2019.02.01.  145,263   94    1,036,420
1   파워링크  2019.02.02.  118,883   86      910,107
2   파워링크  2019.02.03.  116,481   51      398,322
3   파워링크  2019.02.04.  126,863   81      755,931
4   파워링크  2019.02.05.  136,380   54      491,942
5   파워링크  2019.02.06.  132,315   96      814,885
6   파워링크  2019.02.07.  174,939  141    1,279,146
7   파워링크  2019.02.08.  161,842  147    1,311,234
8   파워링크  2019.02.09.  132,350  118    1,236,994
9   파워링크  2019.02.10.  133,037  115    1,023,649
10  파워링크  2019.02.11.  163,438  137    1,170,620
11  파워링크  2019.02.12.  172,982  150    1,223,069
12  파워링크  2019.02.13.  171,567  193    1,737,010
13  파워링크  2019.02.14.  171,001  166    1,343,562
14  파워링크  2019.02.15.  154,012  122    1,171,775
15  파워링크  2019.02.16.  146,657   85      743,546
16  파워링크  2019.02.17.  142,419  113      933,471
17  파워링크  2019.02.18.  160,984  180    1,581,877
18  파워링크  2019.02.19.  167,008  175    1,352,175
19  파워링크  2019.02.20.  169,708  144    1,247,643

In [44]:
n_day=n_data['일별'].str.replace('.','-')
n_day

0     2019-02-01-
1     2019-02-02-
2     2019-02-03-
3     2019-02-04-
4     2019-02-05-
5     2019-02-06-
6     2019-02-07-
7     2019-02-08-
8     2019-02-09-
9     2019-02-10-
10    2019-02-11-
11    2019-02-12-
12    2019-02-13-
13    2019-02-14-
14    2019-02-15-
15    2019-02-16-
16    2019-02-17-
17    2019-02-18-
18    2019-02-19-
19    2019-02-20-
Name: 일별, dtype: object

In [45]:
n_day.str[:-1]

0     2019-02-01
1     2019-02-02
2     2019-02-03
3     2019-02-04
4     2019-02-05
5     2019-02-06
6     2019-02-07
7     2019-02-08
8     2019-02-09
9     2019-02-10
10    2019-02-11
11    2019-02-12
12    2019-02-13
13    2019-02-14
14    2019-02-15
15    2019-02-16
16    2019-02-17
17    2019-02-18
18    2019-02-19
19    2019-02-20
Name: 일별, dtype: object

In [46]:
n_data['일별']=n_day.str[:-1]

In [47]:
n_data

   캠페인유형          일별      노출수  클릭수 총비용(VAT포함,원)
0   파워링크  2019-02-01  145,263   94    1,036,420
1   파워링크  2019-02-02  118,883   86      910,107
2   파워링크  2019-02-03  116,481   51      398,322
3   파워링크  2019-02-04  126,863   81      755,931
4   파워링크  2019-02-05  136,380   54      491,942
5   파워링크  2019-02-06  132,315   96      814,885
6   파워링크  2019-02-07  174,939  141    1,279,146
7   파워링크  2019-02-08  161,842  147    1,311,234
8   파워링크  2019-02-09  132,350  118    1,236,994
9   파워링크  2019-02-10  133,037  115    1,023,649
10  파워링크  2019-02-11  163,438  137    1,170,620
11  파워링크  2019-02-12  172,982  150    1,223,069
12  파워링크  2019-02-13  171,567  193    1,737,010
13  파워링크  2019-02-14  171,001  166    1,343,562
14  파워링크  2019-02-15  154,012  122    1,171,775
15  파워링크  2019-02-16  146,657   85      743,546
16  파워링크  2019-02-17  142,419  113      933,471
17  파워링크  2019-02-18  160,984  180    1,581,877
18  파워링크  2019-02-19  167,008  175    1,352,175
19  파워링크  2019-02-20  169,708  144    1,247,643

In [48]:
n_imp=n_data['노출수'].str.replace(',','')
n_imp

0     145263
1     118883
2     116481
3     126863
4     136380
5     132315
6     174939
7     161842
8     132350
9     133037
10    163438
11    172982
12    171567
13    171001
14    154012
15    146657
16    142419
17    160984
18    167008
19    169708
Name: 노출수, dtype: object

In [49]:
n_imp.astype(int)

0     145263
1     118883
2     116481
3     126863
4     136380
5     132315
6     174939
7     161842
8     132350
9     133037
10    163438
11    172982
12    171567
13    171001
14    154012
15    146657
16    142419
17    160984
18    167008
19    169708
Name: 노출수, dtype: int32

In [50]:
n_data['노출수']=n_imp.astype(int)

In [51]:
n_data

   캠페인유형          일별     노출수  클릭수 총비용(VAT포함,원)
0   파워링크  2019-02-01  145263   94    1,036,420
1   파워링크  2019-02-02  118883   86      910,107
2   파워링크  2019-02-03  116481   51      398,322
3   파워링크  2019-02-04  126863   81      755,931
4   파워링크  2019-02-05  136380   54      491,942
5   파워링크  2019-02-06  132315   96      814,885
6   파워링크  2019-02-07  174939  141    1,279,146
7   파워링크  2019-02-08  161842  147    1,311,234
8   파워링크  2019-02-09  132350  118    1,236,994
9   파워링크  2019-02-10  133037  115    1,023,649
10  파워링크  2019-02-11  163438  137    1,170,620
11  파워링크  2019-02-12  172982  150    1,223,069
12  파워링크  2019-02-13  171567  193    1,737,010
13  파워링크  2019-02-14  171001  166    1,343,562
14  파워링크  2019-02-15  154012  122    1,171,775
15  파워링크  2019-02-16  146657   85      743,546
16  파워링크  2019-02-17  142419  113      933,471
17  파워링크  2019-02-18  160984  180    1,581,877
18  파워링크  2019-02-19  167008  175    1,352,175
19  파워링크  2019-02-20  169708  144    1,247,643

In [52]:
n_cost=n_data['총비용(VAT포함,원)'].str.replace(',','')
n_cost

0     1036420
1      910107
2      398322
3      755931
4      491942
5      814885
6     1279146
7     1311234
8     1236994
9     1023649
10    1170620
11    1223069
12    1737010
13    1343562
14    1171775
15     743546
16     933471
17    1581877
18    1352175
19    1247643
Name: 총비용(VAT포함,원), dtype: object

In [53]:
n_data['총비용(VAT포함,원)']=n_cost.astype(int)

In [54]:
#완성된 데이터
n_data

   캠페인유형          일별     노출수  클릭수  총비용(VAT포함,원)
0   파워링크  2019-02-01  145263   94       1036420
1   파워링크  2019-02-02  118883   86        910107
2   파워링크  2019-02-03  116481   51        398322
3   파워링크  2019-02-04  126863   81        755931
4   파워링크  2019-02-05  136380   54        491942
5   파워링크  2019-02-06  132315   96        814885
6   파워링크  2019-02-07  174939  141       1279146
7   파워링크  2019-02-08  161842  147       1311234
8   파워링크  2019-02-09  132350  118       1236994
9   파워링크  2019-02-10  133037  115       1023649
10  파워링크  2019-02-11  163438  137       1170620
11  파워링크  2019-02-12  172982  150       1223069
12  파워링크  2019-02-13  171567  193       1737010
13  파워링크  2019-02-14  171001  166       1343562
14  파워링크  2019-02-15  154012  122       1171775
15  파워링크  2019-02-16  146657   85        743546
16  파워링크  2019-02-17  142419  113        933471
17  파워링크  2019-02-18  160984  180       1581877
18  파워링크  2019-02-19  167008  175       1352175
19  파워링크  2019-02-20  169708  144       1247643

# 다음

In [55]:
d_data=pd.read_csv('C:\\Users\\jungh\\Desktop\\데이터분석\\파이썬 강의\\강의data\\추이보고서_---_20190201-20190220.csv',engine='python')

In [56]:
d_data

,날짜,노출수,클릭수,클릭률,평균클릭비용,총비용,직접전환수,직접전환금액,간접전환수,간접전환금액,전환율
0,2019.02.01,6657,11,0.17%,464.00,5104.0,0,0,0,0,0.00%
1,2019.02.02,5061,12,0.24%,1453.83,17446.0,0,0,0,0,0.00%
2,2019.02.03,5481,14,0.26%,332.36,4653.0,0,0,0,0,0.00%
3,2019.02.04,6830,20,0.29%,1923.35,38467.0,1,0,0,0,5.00%
4,2019.02.05,6638,15,0.23%,679.07,10186.0,0,0,0,0,0.00%
5,2019.02.06,8749,18,0.21%,582.39,10483.0,0,0,0,0,0.00%
6,2019.02.07,9091,18,0.20%,692.39,12463.0,0,0,0,0,0.00%
7,2019.02.08,5557,13,0.23%,1628.85,21175.0,0,0,0,0,0.00%
8,2019.02.09,3259,8,0.25%,4752.00,38016.0,0,0,0,0,0.00%
9,2019.02.10,2857,5,0.18%,847.00,4235.0,0,0,0,0,0.00%
10,2019.02.11,4581,12,0.26%,2808.67,33704.0,0,0,0,0,0.00%
11,2019.02.12,4629,17,0.37%,1028.82,17490.0,2,0,0,0,11.76%
12,2019.02.13,4642,15,0.32%,3111.53,46673.0,0,0,2,0,13.33%
13,2019.02.14,4139,9,0.22%,2819.67,25377.0,0,0,1,0,11.11%
14,2019.02.15,3997,13,0.33%,819.08,10648.0,0,0,1,0,7.69%
15,2019.02.16,3001,10,0.33%,785.40,7854.0,1,0,0,0,10.00%
16,2019.02.17,3187,10,0.31%,1067.00,10670.0,0,0,0,0,0.00%
17,2019.02.18,4873,8,0.16%,3415.50,27324.0,0,0,1,0,12.50%
18,2019.02.19,4752,9,0.19%,2811.11,25300.0,0,0,0,0,0.00%
19,2019.02.20,4544,14,0.31%,1337.29,18722.0,2,0,0,0,14.29%

In [57]:
d_day=n_data['일별'].str.replace('.','-')
d_day

0     2019-02-01
1     2019-02-02
2     2019-02-03
3     2019-02-04
4     2019-02-05
5     2019-02-06
6     2019-02-07
7     2019-02-08
8     2019-02-09
9     2019-02-10
10    2019-02-11
11    2019-02-12
12    2019-02-13
13    2019-02-14
14    2019-02-15
15    2019-02-16
16    2019-02-17
17    2019-02-18
18    2019-02-19
19    2019-02-20
Name: 일별, dtype: object

In [58]:
d_data['날짜']=d_day

In [59]:
d_data

,날짜,노출수,클릭수,클릭률,평균클릭비용,총비용,직접전환수,직접전환금액,간접전환수,간접전환금액,전환율
0,2019-02-01,6657,11,0.17%,464.00,5104.0,0,0,0,0,0.00%
1,2019-02-02,5061,12,0.24%,1453.83,17446.0,0,0,0,0,0.00%
2,2019-02-03,5481,14,0.26%,332.36,4653.0,0,0,0,0,0.00%
3,2019-02-04,6830,20,0.29%,1923.35,38467.0,1,0,0,0,5.00%
4,2019-02-05,6638,15,0.23%,679.07,10186.0,0,0,0,0,0.00%
5,2019-02-06,8749,18,0.21%,582.39,10483.0,0,0,0,0,0.00%
6,2019-02-07,9091,18,0.20%,692.39,12463.0,0,0,0,0,0.00%
7,2019-02-08,5557,13,0.23%,1628.85,21175.0,0,0,0,0,0.00%
8,2019-02-09,3259,8,0.25%,4752.00,38016.0,0,0,0,0,0.00%
9,2019-02-10,2857,5,0.18%,847.00,4235.0,0,0,0,0,0.00%
10,2019-02-11,4581,12,0.26%,2808.67,33704.0,0,0,0,0,0.00%
11,2019-02-12,4629,17,0.37%,1028.82,17490.0,2,0,0,0,11.76%
12,2019-02-13,4642,15,0.32%,3111.53,46673.0,0,0,2,0,13.33%
13,2019-02-14,4139,9,0.22%,2819.67,25377.0,0,0,1,0,11.11%
14,2019-02-15,3997,13,0.33%,819.08,10648.0,0,0,1,0,7.69%
15,2019-02-16,3001,10,0.33%,785.40,7854.0,1,0,0,0,10.00%
16,2019-02-17,3187,10,0.31%,1067.00,10670.0,0,0,0,0,0.00%
17,2019-02-18,4873,8,0.16%,3415.50,27324.0,0,0,1,0,12.50%
18,2019-02-19,4752,9,0.19%,2811.11,25300.0,0,0,0,0,0.00%
19,2019-02-20,4544,14,0.31%,1337.29,18722.0,2,0,0,0,14.29%

# FaceBook

In [61]:
f_data=pd.read_csv('C:\\Users\\jungh\\Desktop\\데이터분석\\파이썬 강의\\강의data\\제목-없음-Feb-1-2019-Feb-22-2019.csv',engine='python',encoding='utf-8',names=['일','노출','클릭(전체)','지출 금액','보고 시작','보고 종료'],skiprows=1)

In [62]:
f_data

             일     노출  클릭(전체)   지출 금액       보고 시작       보고 종료
0   2019-02-01  14806     447  197253  2019-02-01  2019-02-01
1   2019-02-02   2146      60   25195  2019-02-02  2019-02-02
2   2019-02-09  12751     382  192057  2019-02-09  2019-02-09
3   2019-02-10  10665     362  161204  2019-02-10  2019-02-10
4   2019-02-11  10490     345  159854  2019-02-11  2019-02-11
5   2019-02-12   9813     292  154807  2019-02-12  2019-02-12
6   2019-02-13   8987     339  156757  2019-02-13  2019-02-13
7   2019-02-14   8914     255  157330  2019-02-14  2019-02-14
8   2019-02-15   8024     239  153748  2019-02-15  2019-02-15
9   2019-02-16   7486     130  141447  2019-02-16  2019-02-16
10  2019-02-17   8835     172  161083  2019-02-17  2019-02-17
11  2019-02-18   7610     171  148920  2019-02-18  2019-02-18
12  2019-02-19   7534     303  152863  2019-02-19  2019-02-19
13  2019-02-20   7436     226  155352  2019-02-20  2019-02-20
14  2019-02-21   7538     204  154180  2019-02-21  2019-02-21
15  2019-02-22    187       3    4368  2019-02-22  2019-02-22

# 합치기

In [63]:
#먼저 칼럼 알아보기
n_data.columns

Index(['캠페인유형', '일별', '노출수', '클릭수', '총비용(VAT포함,원)'], dtype='object')

In [64]:
d_data.columns

Index(['날짜', '노출수', '클릭수', '클릭률', '평균클릭비용', '총비용', '직접전환수', '직접전환금액', '간접전환수',
       '간접전환금액', '전환율'],
      dtype='object')

In [65]:
g_data.columns

Index(['일', '통화', '클릭수', '노출수', '비용'], dtype='object')

In [66]:
f_data.columns

Index(['일', '노출', '클릭(전체)', '지출 금액', '보고 시작', '보고 종료'], dtype='object')

In [67]:
#네이버 합치기
n_result=n_data[['일별','노출수','클릭수','총비용(VAT포함,원)']]
n_result

            일별     노출수  클릭수  총비용(VAT포함,원)
0   2019-02-01  145263   94       1036420
1   2019-02-02  118883   86        910107
2   2019-02-03  116481   51        398322
3   2019-02-04  126863   81        755931
4   2019-02-05  136380   54        491942
5   2019-02-06  132315   96        814885
6   2019-02-07  174939  141       1279146
7   2019-02-08  161842  147       1311234
8   2019-02-09  132350  118       1236994
9   2019-02-10  133037  115       1023649
10  2019-02-11  163438  137       1170620
11  2019-02-12  172982  150       1223069
12  2019-02-13  171567  193       1737010
13  2019-02-14  171001  166       1343562
14  2019-02-15  154012  122       1171775
15  2019-02-16  146657   85        743546
16  2019-02-17  142419  113        933471
17  2019-02-18  160984  180       1581877
18  2019-02-19  167008  175       1352175
19  2019-02-20  169708  144       1247643

In [68]:
n_daily=n_result.set_index('일별')
n_daily

               노출수  클릭수  총비용(VAT포함,원)
일별
2019-02-01  145263   94       1036420
2019-02-02  118883   86        910107
2019-02-03  116481   51        398322
2019-02-04  126863   81        755931
2019-02-05  136380   54        491942
2019-02-06  132315   96        814885
2019-02-07  174939  141       1279146
2019-02-08  161842  147       1311234
2019-02-09  132350  118       1236994
2019-02-10  133037  115       1023649
2019-02-11  163438  137       1170620
2019-02-12  172982  150       1223069
2019-02-13  171567  193       1737010
2019-02-14  171001  166       1343562
2019-02-15  154012  122       1171775
2019-02-16  146657   85        743546
2019-02-17  142419  113        933471
2019-02-18  160984  180       1581877
2019-02-19  167008  175       1352175
2019-02-20  169708  144       1247643

In [69]:
#다음
d_result=d_data[['날짜','노출수','클릭수','총비용']]
d_result

            날짜   노출수  클릭수      총비용
0   2019-02-01  6657   11   5104.0
1   2019-02-02  5061   12  17446.0
2   2019-02-03  5481   14   4653.0
3   2019-02-04  6830   20  38467.0
4   2019-02-05  6638   15  10186.0
5   2019-02-06  8749   18  10483.0
6   2019-02-07  9091   18  12463.0
7   2019-02-08  5557   13  21175.0
8   2019-02-09  3259    8  38016.0
9   2019-02-10  2857    5   4235.0
10  2019-02-11  4581   12  33704.0
11  2019-02-12  4629   17  17490.0
12  2019-02-13  4642   15  46673.0
13  2019-02-14  4139    9  25377.0
14  2019-02-15  3997   13  10648.0
15  2019-02-16  3001   10   7854.0
16  2019-02-17  3187   10  10670.0
17  2019-02-18  4873    8  27324.0
18  2019-02-19  4752    9  25300.0
19  2019-02-20  4544   14  18722.0

In [70]:
d_daily=d_result.set_index('날짜')
d_daily

             노출수  클릭수      총비용
날짜
2019-02-01  6657   11   5104.0
2019-02-02  5061   12  17446.0
2019-02-03  5481   14   4653.0
2019-02-04  6830   20  38467.0
2019-02-05  6638   15  10186.0
2019-02-06  8749   18  10483.0
2019-02-07  9091   18  12463.0
2019-02-08  5557   13  21175.0
2019-02-09  3259    8  38016.0
2019-02-10  2857    5   4235.0
2019-02-11  4581   12  33704.0
2019-02-12  4629   17  17490.0
2019-02-13  4642   15  46673.0
2019-02-14  4139    9  25377.0
2019-02-15  3997   13  10648.0
2019-02-16  3001   10   7854.0
2019-02-17  3187   10  10670.0
2019-02-18  4873    8  27324.0
2019-02-19  4752    9  25300.0
2019-02-20  4544   14  18722.0

In [71]:
#구글
g_result=g_data[['일','노출수','클릭수','비용']]
g_result

             일    노출수  클릭수         비용
0   2013-03-05      0    0       0.00
1   2013-03-06    966    3   1,744.00
2   2013-03-07  5,801   18  11,862.00
3   2013-03-08  5,351   12   7,396.00
4   2013-03-09  3,283    5   2,573.00
5   2013-03-10  3,323    7   3,493.00
6   2013-03-11  6,306   18   9,145.00
7   2013-03-12  8,594   20  10,077.00
8   2013-03-13  8,887   12   4,205.00
9   2013-03-14  8,410   16   7,161.00
10  2013-03-15  8,705   25  10,699.00
11  2013-03-16  5,635   12   4,480.00
12  2013-03-17  4,185    2   1,002.00
13  2013-03-18  7,810    9   5,511.00
14  2013-03-19  6,704   11   6,443.00
15  2013-03-20  5,801   15   7,703.00
16  2013-03-21  6,580   17   9,423.00
17  2013-03-22  9,612   16   9,829.00
18  2013-03-23  4,323   16   9,863.00
19  2013-03-24  3,751    7   3,677.00
20  2013-03-25  8,288   19  11,388.00
21  2013-03-26  7,904   29  15,092.00
22  2013-03-27  9,089   29  17,773.00
23  2013-03-28  8,807   24  12,822.00
24  2013-03-29  9,053   41  21,804.00
25  2013-03-30  8,913   21   9,865.00
26  2013-03-31  9,688   17   8,514.00

In [72]:
g_daily=g_result.set_index('일')
g_daily

              노출수  클릭수         비용
일
2013-03-05      0    0       0.00
2013-03-06    966    3   1,744.00
2013-03-07  5,801   18  11,862.00
2013-03-08  5,351   12   7,396.00
2013-03-09  3,283    5   2,573.00
2013-03-10  3,323    7   3,493.00
2013-03-11  6,306   18   9,145.00
2013-03-12  8,594   20  10,077.00
2013-03-13  8,887   12   4,205.00
2013-03-14  8,410   16   7,161.00
2013-03-15  8,705   25  10,699.00
2013-03-16  5,635   12   4,480.00
2013-03-17  4,185    2   1,002.00
2013-03-18  7,810    9   5,511.00
2013-03-19  6,704   11   6,443.00
2013-03-20  5,801   15   7,703.00
2013-03-21  6,580   17   9,423.00
2013-03-22  9,612   16   9,829.00
2013-03-23  4,323   16   9,863.00
2013-03-24  3,751    7   3,677.00
2013-03-25  8,288   19  11,388.00
2013-03-26  7,904   29  15,092.00
2013-03-27  9,089   29  17,773.00
2013-03-28  8,807   24  12,822.00
2013-03-29  9,053   41  21,804.00
2013-03-30  8,913   21   9,865.00
2013-03-31  9,688   17   8,514.00

In [73]:
#페이스북
f_result=f_data[['일','노출','클릭(전체)','지출 금액']]
f_result

             일     노출  클릭(전체)   지출 금액
0   2019-02-01  14806     447  197253
1   2019-02-02   2146      60   25195
2   2019-02-09  12751     382  192057
3   2019-02-10  10665     362  161204
4   2019-02-11  10490     345  159854
5   2019-02-12   9813     292  154807
6   2019-02-13   8987     339  156757
7   2019-02-14   8914     255  157330
8   2019-02-15   8024     239  153748
9   2019-02-16   7486     130  141447
10  2019-02-17   8835     172  161083
11  2019-02-18   7610     171  148920
12  2019-02-19   7534     303  152863
13  2019-02-20   7436     226  155352
14  2019-02-21   7538     204  154180
15  2019-02-22    187       3    4368

In [74]:
f_daily=f_result.set_index('일')
f_daily

               노출  클릭(전체)   지출 금액
일
2019-02-01  14806     447  197253
2019-02-02   2146      60   25195
2019-02-09  12751     382  192057
2019-02-10  10665     362  161204
2019-02-11  10490     345  159854
2019-02-12   9813     292  154807
2019-02-13   8987     339  156757
2019-02-14   8914     255  157330
2019-02-15   8024     239  153748
2019-02-16   7486     130  141447
2019-02-17   8835     172  161083
2019-02-18   7610     171  148920
2019-02-19   7534     303  152863
2019-02-20   7436     226  155352
2019-02-21   7538     204  154180
2019-02-22    187       3    4368

# 전체 보고서 합치기

In [75]:
data=pd.concat([n_daily,d_daily,g_daily,f_daily],axis=1)
data

C:\Users\jungh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,노출수,클릭수,"총비용(VAT포함,원)",노출수,클릭수,총비용,노출수,클릭수,비용,노출,클릭(전체),지출 금액
2013-03-05,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,0.00,NaN,NaN,NaN
2013-03-06,NaN,NaN,NaN,NaN,NaN,NaN,966,3.0,"1,744.00",NaN,NaN,NaN
2013-03-07,NaN,NaN,NaN,NaN,NaN,NaN,"5,801",18.0,"11,862.00",NaN,NaN,NaN
2013-03-08,NaN,NaN,NaN,NaN,NaN,NaN,"5,351",12.0,"7,396.00",NaN,NaN,NaN
2013-03-09,NaN,NaN,NaN,NaN,NaN,NaN,"3,283",5.0,"2,573.00",NaN,NaN,NaN
2013-03-10,NaN,NaN,NaN,NaN,NaN,NaN,"3,323",7.0,"3,493.00",NaN,NaN,NaN
2013-03-11,NaN,NaN,NaN,NaN,NaN,NaN,"6,306",18.0,"9,145.00",NaN,NaN,NaN
2013-03-12,NaN,NaN,NaN,NaN,NaN,NaN,"8,594",20.0,"10,077.00",NaN,NaN,NaN
2013-03-13,NaN,NaN,NaN,NaN,NaN,NaN,"8,887",12.0,"4,205.00",NaN,NaN,NaN
2013-03-14,NaN,NaN,NaN,NaN,NaN,NaN,"8,410",16.0,"7,161.00",NaN,NaN,NaN
2013-03-15,NaN,NaN,NaN,NaN,NaN,NaN,"8,705",25.0,"10,699.00",NaN,NaN,NaN
2013-03-16,NaN,NaN,NaN,NaN,NaN,NaN,"5,635",12.0,"4,480.00",NaN,NaN,NaN
2013-03-17,NaN,NaN,NaN,NaN,NaN,NaN,"4,185",2.0,"1,002.00",NaN,NaN,NaN
2013-03-18,NaN,NaN,NaN,NaN,NaN,NaN,"7,810",9.0,"5,511.00",NaN,NaN,NaN
2013-03-19,NaN,NaN,NaN,NaN,NaN,NaN,"6,704",11.0,"6,443.00",NaN,NaN,NaN
2013-03-20,NaN,NaN,NaN,NaN,NaN,NaN,"5,801",15.0,"7,703.00",NaN,NaN,NaN
2013-03-21,NaN,NaN,NaN,NaN,NaN,NaN,"6,580",17.0,"9,423.00",NaN,NaN,NaN
2013-03-22,NaN,NaN,NaN,NaN,NaN,NaN,"9,612",16.0,"9,829.00",NaN,NaN,NaN
2013-03-23,NaN,NaN,NaN,NaN,NaN,NaN,"4,323",16.0,"9,863.00",NaN,NaN,NaN
2013-03-24,NaN,NaN,NaN,NaN,NaN,NaN,"3,751",7.0,"3,677.00",NaN,NaN,NaN
2013-03-25,NaN,NaN,NaN,NaN,NaN,NaN,"8,288",19.0,"11,388.00",NaN,NaN,NaN
2013-03-26,NaN,NaN,NaN,NaN,NaN,NaN,"7,904",29.0,"15,092.00",NaN,NaN,NaN
2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN,"9,089",29.0,"17,773.00",NaN,NaN,NaN
2013-03-28,NaN,NaN,NaN,NaN,NaN,NaN,"8,807",24.0,"12,822.00",NaN,NaN,NaN
2013-03-29,NaN,NaN,NaN,NaN,NaN,NaN,"9,053",41.0,"21,804.00",NaN,NaN,NaN
2013-03-30,NaN,NaN,NaN,NaN,NaN,NaN,"8,913",21.0,"9,865.00",NaN,NaN,NaN
2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN,"9,688",17.0,"8,514.00",NaN,NaN,NaN
2019-02-01,145263.0,94.0,1036420.0,6657.0,11.0,5104.0,NaN,NaN,NaN,14806.0,447.0,197253.0
2019-02-02,118883.0,86.0,910107.0,5061.0,12.0,17446.0,NaN,NaN,NaN,2146.0,60.0,25195.0
2019-02-03,116481.0,51.0,398322.0,5481.0,14.0,4653.0,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-04,126863.0,81.0,755931.0,6830.0,20.0,38467.0,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-05,136380.0,54.0,491942.0,6638.0,15.0,10186.0,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-06,132315.0,96.0,814885.0,8749.0,18.0,10483.0,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-07,174939.0,141.0,1279146.0,9091.0,18.0,12463.0,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-08,161842.0,147.0,1311234.0,5557.0,13.0,21175.0,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-09,132350.0,118.0,1236994.0,3259.0,8.0,38016.0,NaN,NaN,NaN,12751.0,382.0,192057.0
2019-02-10,133037.0,115.0,1023649.0,2857.0,5.0,4235.0,NaN,NaN,NaN,10665.0,362.0,161204.0
2019-02-11,163438.0,137.0,1170620.0,4581.0,12.0,33704.0,NaN,NaN,NaN,10490.0,345.0,159854.0
2019-02-12,172982.0,150.0,1223069.0,4629.0,17.0,17490.0,NaN,NaN,NaN,9813.0,292.0,154807.0
2019-02-13,171567.0,193.0,1737010.0,4642.0,15.0,46673.0,NaN,NaN,NaN,8987.0,339.0,156757.0
2019-02-14,171001.0,166.0,1343562.0,4139.0,9.0,25377.0,NaN,NaN,NaN,8914.0,255.0,157330.0
2019-02-15,154012.0,122.0,1171775.0,3997.0,13.0,10648.0,NaN,NaN,NaN,8024.0,239.0,153748.0
2019-02-16,146657.0,85.0,743546.0,3001.0,10.0,7854.0,NaN,NaN,NaN,7486.0,130.0,141447.0
2019-02-17,142419.0,113.0,933471.0,3187.0,10.0,10670.0,NaN,NaN,NaN,8835.0,172.0,161083.0
2019-02-18,160984.0,180.0,1581877.0,4873.0,8.0,27324.0,NaN,NaN,NaN,7610.0,171.0,148920.0
2019-02-19,167008.0,175.0,1352175.0,4752.0,9.0,25300.0,NaN,NaN,NaN,7534.0,303.0,152863.0
2019-02-20,169708.0,144.0,1247643.0,4544.0,14.0,18722.0,NaN,NaN,NaN,7436.0,226.0,155352.0
2019-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7538.0,204.0,154180.0
2019-02-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187.0,3.0,4368.0

In [76]:
data_f=data.fillna(0)
data_f

,노출수,클릭수,"총비용(VAT포함,원)",노출수,클릭수,총비용,노출수,클릭수,비용,노출,클릭(전체),지출 금액
2013-03-05,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.00,0.0,0.0,0.0
2013-03-06,0.0,0.0,0.0,0.0,0.0,0.0,966,3.0,"1,744.00",0.0,0.0,0.0
2013-03-07,0.0,0.0,0.0,0.0,0.0,0.0,"5,801",18.0,"11,862.00",0.0,0.0,0.0
2013-03-08,0.0,0.0,0.0,0.0,0.0,0.0,"5,351",12.0,"7,396.00",0.0,0.0,0.0
2013-03-09,0.0,0.0,0.0,0.0,0.0,0.0,"3,283",5.0,"2,573.00",0.0,0.0,0.0
2013-03-10,0.0,0.0,0.0,0.0,0.0,0.0,"3,323",7.0,"3,493.00",0.0,0.0,0.0
2013-03-11,0.0,0.0,0.0,0.0,0.0,0.0,"6,306",18.0,"9,145.00",0.0,0.0,0.0
2013-03-12,0.0,0.0,0.0,0.0,0.0,0.0,"8,594",20.0,"10,077.00",0.0,0.0,0.0
2013-03-13,0.0,0.0,0.0,0.0,0.0,0.0,"8,887",12.0,"4,205.00",0.0,0.0,0.0
2013-03-14,0.0,0.0,0.0,0.0,0.0,0.0,"8,410",16.0,"7,161.00",0.0,0.0,0.0
2013-03-15,0.0,0.0,0.0,0.0,0.0,0.0,"8,705",25.0,"10,699.00",0.0,0.0,0.0
2013-03-16,0.0,0.0,0.0,0.0,0.0,0.0,"5,635",12.0,"4,480.00",0.0,0.0,0.0
2013-03-17,0.0,0.0,0.0,0.0,0.0,0.0,"4,185",2.0,"1,002.00",0.0,0.0,0.0
2013-03-18,0.0,0.0,0.0,0.0,0.0,0.0,"7,810",9.0,"5,511.00",0.0,0.0,0.0
2013-03-19,0.0,0.0,0.0,0.0,0.0,0.0,"6,704",11.0,"6,443.00",0.0,0.0,0.0
2013-03-20,0.0,0.0,0.0,0.0,0.0,0.0,"5,801",15.0,"7,703.00",0.0,0.0,0.0
2013-03-21,0.0,0.0,0.0,0.0,0.0,0.0,"6,580",17.0,"9,423.00",0.0,0.0,0.0
2013-03-22,0.0,0.0,0.0,0.0,0.0,0.0,"9,612",16.0,"9,829.00",0.0,0.0,0.0
2013-03-23,0.0,0.0,0.0,0.0,0.0,0.0,"4,323",16.0,"9,863.00",0.0,0.0,0.0
2013-03-24,0.0,0.0,0.0,0.0,0.0,0.0,"3,751",7.0,"3,677.00",0.0,0.0,0.0
2013-03-25,0.0,0.0,0.0,0.0,0.0,0.0,"8,288",19.0,"11,388.00",0.0,0.0,0.0
2013-03-26,0.0,0.0,0.0,0.0,0.0,0.0,"7,904",29.0,"15,092.00",0.0,0.0,0.0
2013-03-27,0.0,0.0,0.0,0.0,0.0,0.0,"9,089",29.0,"17,773.00",0.0,0.0,0.0
2013-03-28,0.0,0.0,0.0,0.0,0.0,0.0,"8,807",24.0,"12,822.00",0.0,0.0,0.0
2013-03-29,0.0,0.0,0.0,0.0,0.0,0.0,"9,053",41.0,"21,804.00",0.0,0.0,0.0
2013-03-30,0.0,0.0,0.0,0.0,0.0,0.0,"8,913",21.0,"9,865.00",0.0,0.0,0.0
2013-03-31,0.0,0.0,0.0,0.0,0.0,0.0,"9,688",17.0,"8,514.00",0.0,0.0,0.0
2019-02-01,145263.0,94.0,1036420.0,6657.0,11.0,5104.0,0,0.0,0,14806.0,447.0,197253.0
2019-02-02,118883.0,86.0,910107.0,5061.0,12.0,17446.0,0,0.0,0,2146.0,60.0,25195.0
2019-02-03,116481.0,51.0,398322.0,5481.0,14.0,4653.0,0,0.0,0,0.0,0.0,0.0
2019-02-04,126863.0,81.0,755931.0,6830.0,20.0,38467.0,0,0.0,0,0.0,0.0,0.0
2019-02-05,136380.0,54.0,491942.0,6638.0,15.0,10186.0,0,0.0,0,0.0,0.0,0.0
2019-02-06,132315.0,96.0,814885.0,8749.0,18.0,10483.0,0,0.0,0,0.0,0.0,0.0
2019-02-07,174939.0,141.0,1279146.0,9091.0,18.0,12463.0,0,0.0,0,0.0,0.0,0.0
2019-02-08,161842.0,147.0,1311234.0,5557.0,13.0,21175.0,0,0.0,0,0.0,0.0,0.0
2019-02-09,132350.0,118.0,1236994.0,3259.0,8.0,38016.0,0,0.0,0,12751.0,382.0,192057.0
2019-02-10,133037.0,115.0,1023649.0,2857.0,5.0,4235.0,0,0.0,0,10665.0,362.0,161204.0
2019-02-11,163438.0,137.0,1170620.0,4581.0,12.0,33704.0,0,0.0,0,10490.0,345.0,159854.0
2019-02-12,172982.0,150.0,1223069.0,4629.0,17.0,17490.0,0,0.0,0,9813.0,292.0,154807.0
2019-02-13,171567.0,193.0,1737010.0,4642.0,15.0,46673.0,0,0.0,0,8987.0,339.0,156757.0
2019-02-14,171001.0,166.0,1343562.0,4139.0,9.0,25377.0,0,0.0,0,8914.0,255.0,157330.0
2019-02-15,154012.0,122.0,1171775.0,3997.0,13.0,10648.0,0,0.0,0,8024.0,239.0,153748.0
2019-02-16,146657.0,85.0,743546.0,3001.0,10.0,7854.0,0,0.0,0,7486.0,130.0,141447.0
2019-02-17,142419.0,113.0,933471.0,3187.0,10.0,10670.0,0,0.0,0,8835.0,172.0,161083.0
2019-02-18,160984.0,180.0,1581877.0,4873.0,8.0,27324.0,0,0.0,0,7610.0,171.0,148920.0
2019-02-19,167008.0,175.0,1352175.0,4752.0,9.0,25300.0,0,0.0,0,7534.0,303.0,152863.0
2019-02-20,169708.0,144.0,1247643.0,4544.0,14.0,18722.0,0,0.0,0,7436.0,226.0,155352.0
2019-02-21,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,7538.0,204.0,154180.0
2019-02-22,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,187.0,3.0,4368.0

In [77]:
pd.options.display.float_format = '{:,}'.format
pd.set_option('display.float_format', None)

In [78]:
data_f

,노출수,클릭수,"총비용(VAT포함,원)",노출수,클릭수,총비용,노출수,클릭수,비용,노출,클릭(전체),지출 금액
2013-03-05,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.00,0.0,0.0,0.0
2013-03-06,0.0,0.0,0.0,0.0,0.0,0.0,966,3.0,"1,744.00",0.0,0.0,0.0
2013-03-07,0.0,0.0,0.0,0.0,0.0,0.0,"5,801",18.0,"11,862.00",0.0,0.0,0.0
2013-03-08,0.0,0.0,0.0,0.0,0.0,0.0,"5,351",12.0,"7,396.00",0.0,0.0,0.0
2013-03-09,0.0,0.0,0.0,0.0,0.0,0.0,"3,283",5.0,"2,573.00",0.0,0.0,0.0
2013-03-10,0.0,0.0,0.0,0.0,0.0,0.0,"3,323",7.0,"3,493.00",0.0,0.0,0.0
2013-03-11,0.0,0.0,0.0,0.0,0.0,0.0,"6,306",18.0,"9,145.00",0.0,0.0,0.0
2013-03-12,0.0,0.0,0.0,0.0,0.0,0.0,"8,594",20.0,"10,077.00",0.0,0.0,0.0
2013-03-13,0.0,0.0,0.0,0.0,0.0,0.0,"8,887",12.0,"4,205.00",0.0,0.0,0.0
2013-03-14,0.0,0.0,0.0,0.0,0.0,0.0,"8,410",16.0,"7,161.00",0.0,0.0,0.0
2013-03-15,0.0,0.0,0.0,0.0,0.0,0.0,"8,705",25.0,"10,699.00",0.0,0.0,0.0
2013-03-16,0.0,0.0,0.0,0.0,0.0,0.0,"5,635",12.0,"4,480.00",0.0,0.0,0.0
2013-03-17,0.0,0.0,0.0,0.0,0.0,0.0,"4,185",2.0,"1,002.00",0.0,0.0,0.0
2013-03-18,0.0,0.0,0.0,0.0,0.0,0.0,"7,810",9.0,"5,511.00",0.0,0.0,0.0
2013-03-19,0.0,0.0,0.0,0.0,0.0,0.0,"6,704",11.0,"6,443.00",0.0,0.0,0.0
2013-03-20,0.0,0.0,0.0,0.0,0.0,0.0,"5,801",15.0,"7,703.00",0.0,0.0,0.0
2013-03-21,0.0,0.0,0.0,0.0,0.0,0.0,"6,580",17.0,"9,423.00",0.0,0.0,0.0
2013-03-22,0.0,0.0,0.0,0.0,0.0,0.0,"9,612",16.0,"9,829.00",0.0,0.0,0.0
2013-03-23,0.0,0.0,0.0,0.0,0.0,0.0,"4,323",16.0,"9,863.00",0.0,0.0,0.0
2013-03-24,0.0,0.0,0.0,0.0,0.0,0.0,"3,751",7.0,"3,677.00",0.0,0.0,0.0
2013-03-25,0.0,0.0,0.0,0.0,0.0,0.0,"8,288",19.0,"11,388.00",0.0,0.0,0.0
2013-03-26,0.0,0.0,0.0,0.0,0.0,0.0,"7,904",29.0,"15,092.00",0.0,0.0,0.0
2013-03-27,0.0,0.0,0.0,0.0,0.0,0.0,"9,089",29.0,"17,773.00",0.0,0.0,0.0
2013-03-28,0.0,0.0,0.0,0.0,0.0,0.0,"8,807",24.0,"12,822.00",0.0,0.0,0.0
2013-03-29,0.0,0.0,0.0,0.0,0.0,0.0,"9,053",41.0,"21,804.00",0.0,0.0,0.0
2013-03-30,0.0,0.0,0.0,0.0,0.0,0.0,"8,913",21.0,"9,865.00",0.0,0.0,0.0
2013-03-31,0.0,0.0,0.0,0.0,0.0,0.0,"9,688",17.0,"8,514.00",0.0,0.0,0.0
2019-02-01,145263.0,94.0,1036420.0,6657.0,11.0,5104.0,0,0.0,0,14806.0,447.0,197253.0
2019-02-02,118883.0,86.0,910107.0,5061.0,12.0,17446.0,0,0.0,0,2146.0,60.0,25195.0
2019-02-03,116481.0,51.0,398322.0,5481.0,14.0,4653.0,0,0.0,0,0.0,0.0,0.0
2019-02-04,126863.0,81.0,755931.0,6830.0,20.0,38467.0,0,0.0,0,0.0,0.0,0.0
2019-02-05,136380.0,54.0,491942.0,6638.0,15.0,10186.0,0,0.0,0,0.0,0.0,0.0
2019-02-06,132315.0,96.0,814885.0,8749.0,18.0,10483.0,0,0.0,0,0.0,0.0,0.0
2019-02-07,174939.0,141.0,1279146.0,9091.0,18.0,12463.0,0,0.0,0,0.0,0.0,0.0
2019-02-08,161842.0,147.0,1311234.0,5557.0,13.0,21175.0,0,0.0,0,0.0,0.0,0.0
2019-02-09,132350.0,118.0,1236994.0,3259.0,8.0,38016.0,0,0.0,0,12751.0,382.0,192057.0
2019-02-10,133037.0,115.0,1023649.0,2857.0,5.0,4235.0,0,0.0,0,10665.0,362.0,161204.0
2019-02-11,163438.0,137.0,1170620.0,4581.0,12.0,33704.0,0,0.0,0,10490.0,345.0,159854.0
2019-02-12,172982.0,150.0,1223069.0,4629.0,17.0,17490.0,0,0.0,0,9813.0,292.0,154807.0
2019-02-13,171567.0,193.0,1737010.0,4642.0,15.0,46673.0,0,0.0,0,8987.0,339.0,156757.0
2019-02-14,171001.0,166.0,1343562.0,4139.0,9.0,25377.0,0,0.0,0,8914.0,255.0,157330.0
2019-02-15,154012.0,122.0,1171775.0,3997.0,13.0,10648.0,0,0.0,0,8024.0,239.0,153748.0
2019-02-16,146657.0,85.0,743546.0,3001.0,10.0,7854.0,0,0.0,0,7486.0,130.0,141447.0
2019-02-17,142419.0,113.0,933471.0,3187.0,10.0,10670.0,0,0.0,0,8835.0,172.0,161083.0
2019-02-18,160984.0,180.0,1581877.0,4873.0,8.0,27324.0,0,0.0,0,7610.0,171.0,148920.0
2019-02-19,167008.0,175.0,1352175.0,4752.0,9.0,25300.0,0,0.0,0,7534.0,303.0,152863.0
2019-02-20,169708.0,144.0,1247643.0,4544.0,14.0,18722.0,0,0.0,0,7436.0,226.0,155352.0
2019-02-21,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,7538.0,204.0,154180.0
2019-02-22,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,187.0,3.0,4368.0

In [79]:
data_all=data_f.applymap('{:,}'.format)

ValueError: ("Cannot specify ',' with 's'.", 'occurred at index 노출수')

In [ ]:
import openpyxl
wb = openpyxl.load_workbook('C:\\Users\\jungh\\Desktop\\데이터분석\\파이썬 강의\\강의data\\리포트sample.xlsx')

In [ ]:
wb.get_sheet_names()

In [ ]:
ws=wb.get_sheet_by_name('리포트1')

In [ ]:
len(data_f.columns)

In [ ]:
len(data_f)

In [ ]:
for x in range(0,22):
    for y in range(0,12):
        ws.cell(row=3+x,column=3+y).value=data_f.iloc[x,y]
wb.save('result.xlsx')
wb.close()